.blog {
    margin: 2rem 0;
    &__photo-img {
        width: 100%;
        display: block;
    }
    &__info {
        &-title {
            font-size: 2rem;
            text-transform: capitalize;
            margin: 1rem 0 .1rem 0;
        }
        &-text {
            line-height: 1.5;
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
        &-link {
            display: inline-block;
            font-size: 1.5rem;
            padding: .5rem 1rem;
            text-decoration: none;
            margin: .75rem 0;
            color: var(--yellow);
            border: .2rem solid var(--yellow);
            transition: all 1s ease;
            position: relative;
            text-transform: capitalize;
            &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 2px;
                top: 50%;
                right: -40px;
            }
            &:hover {
                background: var(--yellow);
                color: var(--black);
            }
        }
    }
    @include respond(screen-m) {
        .blog {
            margin: 0;
            &__info,
            &__photo {
                flex: 0 0 50%;
            }
            &__info {
                align-self: center;
                padding: 0 2rem;
            }
            &--reverse {
                flex-flow: row-reverse;
            }
            &__info-text {
                width: 80%;
            }
        }
    }
    @include respond(screen-l) {
        .blog__info-text {
            width: 70%;
        }
    }
}

.section-padding {
    padding: 3rem 0;
}

.flexbox-parent {
    max-width: 95vw;
    margin: 2rem auto;
}

@include respond (screen-m) {
    .flexbox-parent--medium {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }
}



