.carousel {
    margin: 0 auto 10% auto;
    padding: 0 0 20% 0;
    position: relative;
    width: 95%;
    height: 100%;
    user-select: none;
    background-color: $color-grey-light-2;
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    input {
        display: none;
    }
    @include respond(screen-m) {
        width: 80%;
    }
    @include respond(screen-l) {
        width: 70%;
    }
    .slide {
        &_img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            .prev,
            .next {
                width: 12%;
                height: inherit;
                position: absolute;
                top: 0;
                background-color: transparent;
                z-index: 99;
                transition: .45s;
                cursor: pointer;
                text-align: center;
                &:hover {
                    transition: .3s; 
                }
                span {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border: solid 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .next {
                right: 0;
                span {
                    border-color: transparent transparent transparent #fff;
                    left: 35%;
                }
            }
            .prev {
                left: 0;
                span {
                    border-color: transparent #fff transparent transparent;
                    right: 35%;
                }
            }
            .slide-content {
                position: absolute;
                z-index: 99;
                height: 100%;
                width: 100%;
                color: $color-grey-light-1;

                &__box{
                    text-align: left;

                p.slide__heading {
                    font-weight: bold;
                    font-size: 2rem;
                    @include respond (screen-m) {
                        font-size: 3.25rem;
                        margin-bottom: 2rem;
                    }
                    @include respond (screen-l) {
                        font-size: 2.5rem;
                        margin-bottom: 0;
                    }
                }
                p.slide__text {
                    font-size: 1rem;
                    line-height: 2.5rem;
                    @include respond (screen-s) {
                        font-size: 1.7rem;
                        line-height: 2rem;
                    }
                    @include respond (screen-m) {
                        font-size: 2.75rem;
                        line-height: 3rem;
                    }
                    @include respond (screen-l) {
                        font-size: 1.75rem;
                        line-height: 2.25rem;
                    }
                }
            }
            }
        }
        &-1 {
            text-align: center;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('../img/food-prep.jpg')center/cover no-repeat;
            h1 {
                font-size: 3rem;
                margin: 0;
            }
            i {
                font-size: 10rem;
            }
        }
        &-2 {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('..//img/chicken-satay.jpg')center/cover no-repeat;
        }
        &-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('../img/crispy-pork.jpg')center/cover no-repeat;
          
        }
        &-4 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('../img/fried-rice.jpg')center/cover no-repeat;
           
        }
        &-5 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('../img/green-curry.jpg')center/cover no-repeat;
           
        }
        &-6 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('../img/somtam.jpg')center/cover no-repeat;
        }
        &-7 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('../img/mango-sticky-rice.jpg')center/cover no-repeat;

            .heading-7{
                font-size: 2rem;
            }
            .sub-menu{
                margin-top: .25rem;
            }
        }
    }
    #nav_slide {
        width: 100%;
        bottom: 12.5%;
        height: 1rem;
        position: absolute;
        text-align: center;
        z-index: 50; // cursor: default;
        .dots {
            width: 2rem;
            height: 2rem;
            margin: 0 .3rem;
            position: relative;
            border-radius: 100%;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.6);
            transition: .4s;
            cursor: pointer;
            @include respond(screen-m) {
                width: 1rem;
                height: 1rem;
            }
        }
        #dot1:hover {
            background: $color-primary-dark;
        }
        #dot2:hover {
            background: $color-primary-dark;
        }
        #dot3:hover {
            background: $color-primary-dark;
        }
        #dot4:hover {
            background: $color-primary-dark;
        }
        #dot5:hover {
            background: $color-primary-dark;
        }
        #dot6:hover {
            background: $color-primary-dark;
        }
        #dot7:hover {
            background: $color-primary-dark;
        }
    }
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five,
#i6:checked~#six,
#i7:checked~#seven {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1 {
    background: $color-primary-dark;
}

#i2:checked~#nav_slide #dot2 {
    background: $color-primary-dark;
}

#i3:checked~#nav_slide #dot3 {
    background: $color-primary-dark;
}

#i4:checked~#nav_slide #dot4 {
    background: $color-primary-dark;
}

#i5:checked~#nav_slide #dot5 {
    background: $color-primary-dark;
}

#i6:checked~#nav_slide #dot6 {
    background: $color-primary-dark;
}

#i7:checked~#nav_slide #dot7 {
    background: $color-primary-dark;
}

@keyframes scroll {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}