.menu{
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    padding: 5rem 0 9rem;
    font-size: $default-font-size;
    align-self: flex-end;
    display: flex;

    background: transparent;


    
}