.section__service {
    background: $color-grey-light-1;
    max-width: 100vw;
    overflow: hidden;
    padding: 10rem 0 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}


.section__customer {
    // background: $color-grey-light-1;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/bg-img_lg.jpg')top center/cover no-repeat fixed;
    padding: 10rem 5rem 15rem;
    max-width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.section__contact{
    background: $color-grey-light-1;
    max-width: 100vw;
    padding: 10rem 0 10rem;
}

