*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html{
    /*///Based Font Size/Browser Default Font Size: 10px/16px = 0.625 // 10px: size we want for 1rem, 16px: default size = % of default size///*/
    //Definition of 1rem;
    font-size: 62.5%;
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
   
    @include respond(screen-s){
        font-size: 56.25%;             //we want 1rem = 9px, 9/16px = 56.25%
    }

    @include respond(screen-m){
        font-size: 50%;              //we want 1rem = 8px, 8/16px = 50%
    }
    
    /////////////////////////////////////////
    /////////NORMAL STYLING APPLIES/////////
    ////////////////////////////////////////

    @include respond(screen-l){
        font-size: 75%;                 //1rem = 12/16px = 75%
    }   
}

body{
   box-sizing: border-box;
   padding: 0rem;

}

::selection{
    background-color: $color-primary;
    color: $color-white;
}
