body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.brand-logo {
    font-family: 'Ubuntu', sans-serif;
    color: $color-grey-light-2;
    line-height: 5.5rem;
    text-decoration: none;
    font-weight: 400;
    transition: color .5s ease-in-out;
    &:hover {
        color: $color-primary-dark;
    }
}

.heading-primary {
    font-size: .5rem;
    &--main {
        color: $color-grey-light-1;
        font-size: 3.3rem;
        line-height: 1.4;
        font-weight: 600;
        animation: moveInLeft 1s ease-out;
        @include respond(screen-s) {
            font-size: 3.7rem;
        }
        @include respond(screen-m) {
            font-size: 4rem;
        }
        @include respond(screen-xxl) {
            font-size: 6rem;
        }
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
        @include respond(screen-s) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    color: $color-grey-dark-1;
    letter-spacing: .2rem;
    transition: all .2s;
    @include respond(screen-s) {
        font-size: 3rem;
    }
    @include respond(screen-m) {
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.section-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    i {
        font-size: 5rem;
    }
}

.section-bar {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    clip-path: polygon(0 0, 30% 0, 50% 20%, 70% 0, 100% 0, 100% 100%, 0 100%);
    max-width: 100vw;
    height: 30rem;
    overflow: hidden;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 3rem;
        i {
            text-align: center;
            font-size: 5rem;
        }
    }
}

.icon__linkedin {
    transition: color .3s ease-in-out;
    &:hover {
        color: #0077b5;
    }
}

.icon__gitlab {
    transition: color .3s ease-in-out;
    &:hover {
        color: #e24329;
    }
}

.icon__github {
    transition: color .3s ease-in-out;
    &:hover {
        color: #24292E;
    }
}

.icon__codepen {
    transition: color .3s ease-in-out;
    &:hover {
        color: #32333B;
    }
}