.section__about-me {
    background-color: $color-grey-light-1;
    max-width: 100vw;
    overflow: hidden;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__my-work {
    padding: 13rem 0;
    background-color: $color-grey-light-1;
   
}

.section__contact-me {
    background-color: $color-grey-light-1;
    padding: 0rem 0 15rem 0;
    max-width: 100vw;    
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }

    .bar__image{
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/ffm-bg_lg1.png');
    }
   
}

