.footer {
    background-color: $color-white;
    padding: 0 2rem;
    font-size: 1.4rem;
    color: $color-grey-dark-3;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include respond(screen-m) {
        flex-flow: row wrap;
        justify-content: center;
        padding: 0rem 6rem;
    }
    @include respond(screen-l) {
        padding: 0 7rem;
    }

    &__box{

        @include respond(screen-m){
            display: flex;
            flex: 1;
            flex-flow: row;
            justify-content: space-between;

        }
    }

    &__logo{
        padding-top: 1rem;
        font-size: 2rem;
        flex: 1;

        @include respond(screen-m){
            flex: 1 1 100%;
        }
    }

    &__info {
        margin-top: 2rem;
        font-size: 2rem;

        &--contact{
            font-size: 1.5rem;
            display: flex;
            flex-flow: column;
            
            .contact__link{
                text-decoration: none;
                color: $color-grey-dark-3;
            }
        }
        @include respond(screen-m) {
            align-self: flex-start;
            margin-top: 0;
        }
    }
    &__copyright {
        text-align: center;
        margin: 2rem auto;
        @include respond(screen-m) {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__social-icons {
        display: flex;
        margin-top: 2rem;
        @include respond(screen-m) {
        }

        &--box{

            @include respond(screen-m){
                display: flex;
                justify-content: space-around;
            }
        }

        a {
            padding: 0 1.5rem;
            text-decoration: none;
            color: $color-grey-light-3;
            font-size: 2rem;
            cursor: pointer;
            &::before {
                font-family: 'Font Awesome 5 Brands';
            }
            &[href*="facebook"]::before {
                content: '\f09a';
            }
            &[href*="twitter"]::before {
                content: '\f081';
            }
            &[href*="instagram"]::before {
                content: '\f16d';
            }
            span {
                display: none;
            }
            @include respond(screen-m) {
                padding: 0 0 0 5rem;
            }
            @include respond(screen-l) {
                padding: 0 0 0 7rem;
            }
        }
    }
}