// Main Page Structure
.wrapper {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-areas:
   
    "header"
    "navbar" 
    "main"
    "footer";
}

.navbar {
    grid-area: navbar;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@include respond(screen-m) {
    .wrapper {
        grid-template-areas:     
          "header header header"
          "navbar navbar navbar"
         "main main main"
         "footer footer footer";
    }
}

@include respond(screen-l) {
    .wrapper {
        grid-template-areas: 
       
         "header header header header header header"
         "navbar navbar navbar navbar navbar navbar"
          "main main main main main main"
         "footer footer footer footer footer footer";
    }
}