.header {
    min-height: 80vh;
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,.8),rgba(0,0,0,.6),rgba(0,0,0,.4), rgba(0,0,0,.3), rgba($color-white,1)),url('../img/miang-shrimp_lg.jpg')top center/cover no-repeat fixed;
    // @media only screen and (max-width: 37.5em) {
    //     //600px/16 = 37.5em
    //     background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/resources/img/Love-Coding_bg.png')top left/cover fixed no-repeat;
    // }
    @include respond(screen-l) {
        min-height: 87vh;
        justify-content: center;
    }
    &__btn-box {
        margin-top: 4rem;
        @include respond(screen-s) {
            margin-top: 2rem;
        }
        @include respond(screen-l) {
            margin-top: 3rem;
            align-self: flex-start;
        }
    }
    &__btns {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        @include respond(screen-l) {
            flex-flow: row;
            align-items: flex-start;
        }
    }
    &__welcome {
        width: 100%;
        // background: rgba($color-grey-dark-3,.5);
        border: none;
        @include respond(screen-m) {
            width: 60%;
            padding: 3rem 0;
            border-radius: 1.5rem;
        }
        @include respond(screen-l) {
            width: 70%; 
        }
    }
    &__heading {
        text-align: center;
        @include respond (screen-l) {
      
        }
    }
   
    &__logo {
        color: $color-primary-light;
        transition: text-shadow .5s ease-in;
        cursor: pointer;

        &:hover{
            text-shadow: 1px 0px 20px yellow;
        }
    }

}