.bg-video{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 100%;
    z-index: -3;
    
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.video__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    z-index: -2;
}