.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        @include respond(screen-s) {
            font-size: 2rem;
        } 
        @include respond(screen-l) {
            font-size: 1.3rem;
        } 
        @include respond(screen-xl) {
            font-size: 2rem;
        } 
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--primary {
        text-decoration: none;
        padding: .3rem 3rem;
        margin: .5rem;
        border: none;
        background: $color-primary;
        color: $color-white;

        &-dark{
            @extend .btn--primary;
            background: $color-primary-dark;
        }
        &-light{
            @extend .btn--primary;
            background: $color-primary-light;
        }
        @include respond(screen-s) {
            padding: .5rem 5rem; 
        }
        @include respond(screen-m) {
            padding: .5rem 8rem; 
        }
        @include respond(screen-l) {
            padding: .5rem 2rem; 
        }
    }
    &--secondary {
        text-decoration: none;
        padding: .3rem 3rem;
        margin: .5rem;
        border: none;
        background-color: $color-secondary;
        color: $color-white;

        &-dark{
            @extend .btn--secondary;
            background: $color-secondary-dark;
        }
        &-light{
            @extend .btn--secondary;
            background: $color-secondary-light;
        }
        @include respond(screen-s) {
            padding: .5rem 5rem; 
        }
        @include respond(screen-m) {
            padding: .5rem 8rem; 
        }
        @include respond(screen-l) {
            padding: .5rem 2rem; 
        }
    }
    
    &--tertiary {
        text-decoration: none;
        padding: .3rem 3rem;
        margin: .5rem;
        border: none;
        background-color: $color-tertiary;
        color: $color-white;

        &-dark{
            @extend .btn--secondary;
            background: $color-tertiary-dark;
        }
        &-light{
            @extend .btn--secondary;
            background: $color-tertiary-light;
        }
        @include respond(screen-s) {
            padding: .5rem 5rem; 
        }
        @include respond(screen-m) {
            padding: .5rem 8rem; 
        }
        @include respond(screen-l) {
            padding: .5rem 2rem; 
        }
    }

    &--transparent {
        text-decoration: none;
        padding: .3rem 3rem;
        margin: .5rem;
        background-color:transparent;
        border: .1rem solid $color-white;
        color: $color-white;
        @include respond(screen-s) {
            padding: .5rem 5rem; 
        }
        @include respond(screen-m) {
            padding: .5rem 8rem; 
        }
        @include respond(screen-l) {
            padding: .5rem 2rem; 
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.cta {
    padding: .5rem 4rem;
    margin: .5rem;
    border: none;
    @include respond(screen-s) {
        padding: .5rem 6rem; 
    }
    @include respond(screen-m) {
        padding: 1rem 11rem; 
    }
    @include respond(screen-l) {
        padding: .5rem 7rem; 
    }
    &::after {
        background-color: $color-primary-light;
    }
}

.round-corner{
    border-radius: 10rem;
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}