.carousel {
    margin: 0 auto 10%;
    padding: 0 0 20% 0;
    position: relative;
    width: 95%;
    height: 101%;
    user-select: none;
    background-color: $color-grey-light-2;
    box-shadow: 0 11px 22px rgba($color-black, 0.20), 0 7px 7px rgba($color-black, 0.24);
    input {
        display: none;
    }
    @include respond(screen-m) {
        width: 80%;
    }
    @include respond(screen-l) {
        width: 70%;
    }
    .slide {
        &_img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            .prev,
            .next {
                width: 12%;
                height: inherit;
                position: absolute;
                top: 0;
                z-index: 99;
                transition: .45s;
                cursor: pointer;
                text-align: center;
                &:hover {
                    transition: .3s;
                    background-color: rgba(255, 82, 82, .8);
                }
                span {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border: solid 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .next {
                right: 0;
                span {
                    border-color: transparent transparent transparent #fff;
                    left: 35%;
                }
            }
            .prev {
                left: 0;
                span {
                    border-color: transparent #fff transparent transparent;
                    right: 35%;
                }
            }
            .slide-content {
                position: absolute;
                z-index: 99;
                height: 100%;
                width: 100%;
                p.heading {
                    font-weight: bold;
                    font-size: 2rem;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }
            }
        }
        &-1 {
            text-align: center;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            h1 {
                font-size: 3rem;
                margin: 0;
            }
            i {
                font-size: 9rem;
            }
        }
        &-2 {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            img {
                width: 30rem;
                height: 13rem;
                margin: 0 0 3% 0;
            }
            p.slide__heading {
                font-size: 2rem;
                line-height: 2.5rem;
                color: $color-grey-dark-4;
            }
            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
                color: $color-grey-dark-4;
            }
        }
        &-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            i {
                font-size: 15rem;
                align-self: center;
            }
            p.heading {
                color: $color-secondary-dark;
                margin: 0 0 2% 0;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        &-4 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            .icon-group {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-self: center;
                img {
                    width: 15%;
                    height: 100%;
                    margin: 0 2rem;
                }
            }
            p.heading {
                font-size: 3rem;
                color: $color-secondary-dark;
                margin: 0 0 3rem 0;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        &-5 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            img {
                width: 7rem;
                height: 7rem;
                margin:0 1rem 3rem;
            }
            p.heading {
                color: $color-secondary-dark;
                margin: 0 0 2rem 0;
                font-size: 3rem;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            .icon-group-a {
                margin:0;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            .icon-group-b {
                margin: 0;
                // padding: 0 4rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
        }
        &-6 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            .icon-group {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
                padding: 0 5rem;
                width: 80%;
                // // height: 100%;
            }
            img {
                width: 6rem;
                height: 6rem;
                
            }

            .img{
                
                &__express{
                    width: 15rem;
                    height: 5rem;
                }   

                &__graphql{
                    width: 8rem;
                    height: 8rem;
                }
            }
            p.heading {
                color: $color-secondary-dark;
                margin: 0 0 2rem 0;
                font-size: 3rem;
            }
        }
        &-7 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            .icon-group {
                display: flex;
                align-items: center;
                padding: 0 7rem;
            }
            .img {
                &__mongo-db{
                    width: 20rem;
                    height: 12rem;
                }

                &__firebase{
                    margin-left: 5rem;
                    width: 20rem;
                    height: 6rem;
               }
            }
            p.heading {
                color: $color-secondary-dark;
                font-size: 3rem;
                margin-bottom: 2rem ;
            }
           
        }
    }
    #nav_slide {
        width: 100%;
        bottom: 12.5%;
        height: 1rem;
        position: absolute;
        text-align: center;
        z-index: 99;
        cursor: default;
        .dots {
            width: 2rem;
            height: 2rem;
            margin: 0 .3rem;
            position: relative;
            border-radius: 100%;
            display: inline-block;
            background-color: rgba($color-black, 0.6);
            transition: .4s;
            cursor: pointer;
            @include respond(screen-m) {
                width: 1rem;
                height: 1rem;
            }
        }
        #dot1:hover {
            background: $color-tertiary-light;
        }
        #dot2:hover {
            background: $color-tertiary-light;
        }
        #dot3:hover {
            background: $color-tertiary-light;
        }
        #dot4:hover {
            background: $color-tertiary-light;
        }
        #dot5:hover {
            background: $color-tertiary-light;
        }
        #dot6:hover {
            background: $color-tertiary-light;
        }
        #dot7:hover {
            background: $color-tertiary-light;
        }
    }
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five,
#i6:checked~#six,
#i7:checked~#seven {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1 {
    background: $color-tertiary-dark;
}

#i2:checked~#nav_slide #dot2 {
    background: $color-tertiary-dark;
}

#i3:checked~#nav_slide #dot3 {
    background: $color-tertiary-dark;
}

#i4:checked~#nav_slide #dot4 {
    background: $color-tertiary-dark;
}

#i5:checked~#nav_slide #dot5 {
    background: $color-tertiary-dark;
}

#i6:checked~#nav_slide #dot6 {
    background: $color-tertiary-dark;
}

#i7:checked~#nav_slide #dot7 {
    background: $color-tertiary-dark;
}

@keyframes scroll {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}