.form {
    display: flex;
    flex-direction: column;
    padding: 6rem 0 5rem;
    margin: 5rem auto;
    max-width: 80rem;
    background: $color-white;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    text-align: left;
    &-area {
        margin-top: 3rem;
    }
    input {
        border: none;
        background: $color-grey-light-2;
    }
    .sender-info {
        display: flex;
        flex-flow: column;
        width: 80%;
        margin: 0 auto;
        .name,
        .email {
            flex:1;
            display: flex;
            flex-flow: column;
            label {
                display: block;
                padding: 0;
                margin: 0;
                font-size: 1.5rem;
            }
            input[name="email"],
            input[name="name"] {
                flex: 1;
                height: 4rem;
                padding: .5rem;
                &:focus {
                    outline: none;
                }

            }

        }
        .name{

            @include respond(screen-m){
                margin-right: 1rem;
            }
        }
        @include respond(screen-m){
            flex-flow: row;
            justify-content: space-between;
        }
    }
    .subject,
    .content {
        width: 80%;
        margin: 0 auto;
        label {
            display: block;
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
        }
    }
    .subject {
        input[name="subject"] {
            width: 100%;
            height: 4rem;
            padding: .5rem;
            &:focus {
                outline: none;
            }
        }
    }
    .content {
        .msg-box {
            border: none;
            background: $color-grey-light-2;
            width: 100%;
            resize: none;
            padding: .5rem;
            &:focus {
                outline: none;
            }
        }
    }
    &__btn-box {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 1rem 0;
        @include respond(screen-s) {
            flex-flow: row wrap;
        }
    }
    &__btn {
        background: $color-primary-light;
        color: $color-grey-light-1;
        padding: .5rem 3rem;
        border: none;
        outline: none;
        margin: 1rem 2rem;
        font-size: 2rem;
        font-family: inherit;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        }
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
}