.personal-info{
    width: 100%;
    height: 100vh;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    padding: 9rem 0;
    font-size: $default-font-size;
    align-self: flex-end;
    display: flex;

    background: linear-gradient(120deg , rgba($color-tertiary, .75), rgba($color-tertiary-dark, 1)), url(../img/mz-bg_lg.jpg)top left/cover fixed no-repeat;


    
}