.portfolio {
    &__wrapper {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        @include respond(screen-l) {
            flex-flow: nowrap;
            padding: 0 4rem;
            
        }
    }
    .project {
        margin: 2rem 0rem;
        background: $color-white;
        box-shadow: 0 3rem 6rem rgba($color-black, .1);
        width: 100%;
        display: flex;
        flex-flow: column;
        // border-radius: .5rem .5rem 0 0;
        @include respond(screen-l) {
            margin: 2rem 1rem 0;
            width: 90%;
        }
        &__text {
            font-weight: 600;
        }
        &__info {
            list-style: none;
            margin: 3rem 1rem;
            text-align: center;
            font-size: 1.5rem;
            flex: 1;

            @include respond(screen-s){
                font-size: 2rem;
            }
            
            @include respond(screen-m){
                font-size: 2.5rem;
            }
            
            @include respond(screen-l){
                font-size: 1.3rem;
            }
    
            &--features {
                list-style: none;
                text-align: center;             
            }
            &--icon {
                font-size: 3rem;
            }
        }
        &__title {
            font-size: 3rem;
            text-align: center;
            padding: 1rem 0;
            background: $color-secondary-dark;
            font-weight: 600;
            color: $color-grey-light-2;

            @include respond(screen-s){
                font-size: 4rem;
            }
           
            @include respond(screen-l){
                font-size: 1.5rem;
            }
        }
        &__img {
            max-width: 100%;
        }
        &__link {
            display: flex; 
            justify-content: flex-end;

            &--btn {
                text-decoration: none;
                width: 100%;
                text-align: center;
                background: $color-secondary-dark;
                border: .1rem solid darken($color-secondary-dark, 10%);
                color: $color-grey-light-3;
                cursor: pointer;
                padding: .75rem 1.5rem;
                font-size: 2rem;
                transition: color .3s ease-in;

                &:hover{
                    color: $color-white;
                }

                @include respond(screen-s){
                    font-size: 3rem;
                }
                @include respond(screen-l){
                    font-size: 1rem;
                }
                @include respond(screen-xl){
                    font-size: 1.5rem;
                }
            }
        }
        .buffer-text{
            margin: 2rem 0;
        }
    }
}