.profile {
    width: 90%;
    margin: 1.5rem auto 20rem auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    padding: 9rem 5rem;
    font-size: $default-font-size;
    border-radius: 5rem;
    @include respond(screen-s) {
        padding: 9rem 8rem;
    }
    @include respond(screen-m) {
        padding: 9rem 10rem;
    }
    @include respond(screen-l) {
        width: 80%;
    }
    @include respond(screen-xl) {
        width: 75%;
        padding-bottom: 11rem;
    }
    &__header {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        i {
            font-size: 6rem;
            margin-right: 2rem;
        }
    }
    &__info {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        @include respond(screen-m) {
            display: block;
        }
    }
    &__name {
        text-align: center;
        @include respond(screen-m) {
            text-align: left;
        }
    }
    &__location {
        text-align: center;
        @include respond(screen-m) {
            text-align: left;
        }
    }
    &__shape {
        width: 20rem;
        height: 20rem;
        margin: 3rem;
        border-radius: 50%; //required for shape-outside to work
        @include respond(screen-m) {
            float: left;
            shape-outside: circle();
            margin: 0rem 4rem 1.7rem 0; 
            position: relative;
            overflow: hidden;
        }
        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }
    &__img {
        height: 100%; 
        backface-visibility: hidden;
        transition: all .5s;
    }
    &__text {
        text-align: justify;
        font-size: $default-font-size;
    } 
    &__caption {
        position: absolute; 
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    } 
    &__social-media {
        margin: 2rem 0 0 0;
        &--box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;
            &--logo {
                height: 5%;
                width: 5%;
                cursor: pointer;
            }
        }
    }
    &__social-icons {
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
        font-size: 3rem;
        i {
            padding: 0 2.5rem;
            color: $color-grey-dark-1;
        }
    }
}
