//COLOURS
$color-primary:#7b2bb8;
$color-primary-light: #9748d3;
$color-primary-dark: #4c0f7b;

$color-secondary: #b65390;
$color-secondary-light: #e48ac1;
$color-secondary-dark: #8c3169;

$color-tertiary: #b82c2c;
$color-tertiary-light: #e46262;
$color-tertiary-dark: #7d1b1b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #c9c9c9;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #181818;

$color-white: #fff;
$color-black: #000;

//FONT 
$default-font-size: 1.6rem;
