/*
    320px - 479px:      Screen Extra Extra Small   screen-xs       <= Design Default
    480px - 639px:      Screen Extra Small         screen-s  
    768px - 991px:      Screen Medium              screen-m        <= Standard
    992px - 1199px:     Screen Large               screen-l
    1200px - 1799px:    Screen Extra Large         screen-xl
    1800px +:           Screen Extra Extra Large   screen-xxl      <= Special

1em = 16px;

ORDER:

1. Base & Typography
2. General Layout & Grid
3. Page Layout
4. Components

*/
@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #333; }
  100% {
    border-color: transparent; } }

@keyframes type {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*///Based Font Size/Browser Default Font Size: 10px/16px = 0.625 // 10px: size we want for 1rem, 16px: default size = % of default size   /*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden; }
  @media only screen and (min-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }

::selection {
  background-color: #ff9702;
  color: #fff; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #999; }

.brand-logo {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  color: #ff9702;
  line-height: 5.5rem;
  text-decoration: none;
  cursor: pointer; }

.heading-primary {
  font-size: 3rem; }
  .heading-primary--main {
    color: #eee;
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 600;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 30em) {
      .heading-primary--main {
        font-size: 4.5rem; } }
    @media only screen and (min-width: 48em) {
      .heading-primary--main {
        font-size: 6rem; } }
    @media only screen and (min-width: 62em) {
      .heading-primary--main {
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    color: #eee;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    padding: 0 .5rem; }
    @media only screen and (min-width: 48em) {
      .heading-primary--sub {
        letter-spacing: 1.5rem; } }
    @media only screen and (min-width: 62em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: #999;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (min-width: 30em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (min-width: 48em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 600; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center; }
  .section-title i {
    font-size: 5rem; }

.section-bar {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 90%;
  max-width: 100vw;
  height: 40rem;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-bar__title {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3rem; }
    .section-bar__title i {
      text-align: center;
      font-size: 5rem; }

.text__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 16rem 3rem; }

.underline {
  width: 7rem;
  height: .1rem;
  background: #ff9702;
  margin-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 62em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 62em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.logo-shadow {
  text-shadow: 0.5rem 0.5rem 2rem #000; }

.page-shadow {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }

.about {
  padding-bottom: 10rem;
  width: 80%; }
  .about__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .about__wrapper {
        flex-flow: row; } }
  .about__item {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    transition: box-shadow .3s ease-in-out;
    border: 0.1rem solid #96B100; }
    .about__item:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 62em) {
      .about__item {
        flex: 0 0 calc(33.3333% - 1rem); } }
  .about__info {
    display: flex;
    flex-flow: column wrap;
    padding: 5rem 2rem 3rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .about__info .info__icon {
      font-size: 2.5rem;
      margin-bottom: 2rem; }
    .about__info .info__text {
      font-size: 1.6rem;
      flex: 1; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }
  @media only screen and (min-width: 30em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }
  @media only screen and (min-width: 62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.5rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #B76B00;
  color: #fff;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--dark {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--dark {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--dark {
      padding: .5rem 7rem; } }

.btn--default {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #ff9702;
  color: #fff;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--default {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--default {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--default {
      padding: .5rem 7rem; } }

.btn--light {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #FFC97E;
  color: #fff;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--light {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--light {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--light {
      padding: .5rem 7rem; } }
  .btn--light::after {
    background-color: #ff9702; }

.btn--white {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #fff;
  color: #B76B00;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--white {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--white {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--white {
      padding: .5rem 7rem; } }
  .btn--white::after {
    background-color: #ff9702; }

.btn--transparent {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: transparent;
  color: #fff;
  border: 0.1rem solid #ff9702; }
  @media only screen and (min-width: 30em) {
    .btn--transparent {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--transparent {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--transparent {
      padding: .5rem 7rem; } }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ff9702;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff9702;
  padding: 3px;
  transition: all .2; }

.btn-text:hover {
  background-color: #ff9702;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.contact {
  width: 100%;
  background: transparent; }
  .contact__map {
    width: 100%; }
  .contact__detail {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -1rem;
    padding: 5rem 0rem;
    background: #eee; }
    .contact__detail .detail__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      width: 80%; }
      @media only screen and (min-width: 62em) {
        .contact__detail .detail__wrapper {
          flex-flow: row; } }
    .contact__detail .detail__item {
      background: #fff;
      flex-flow: column;
      margin: 1rem 0;
      padding: 2rem 0; }
      @media only screen and (min-width: 62em) {
        .contact__detail .detail__item {
          flex-flow: row;
          flex: 0 0 calc(33.3333% - 1rem); } }
    .contact__detail .item__content-wrapper {
      display: flex;
      flex-flow: column;
      align-items: center; }
    .contact__detail .item__text-wrapper {
      display: flex;
      flex-flow: column; }
    .contact__detail .item__text {
      font-size: 1.6rem; }
    .contact__detail .item__link {
      cursor: pointer; }
    .contact__detail .item__icon {
      font-size: 2rem;
      margin-bottom: 1rem; }

.customer {
  width: 100%;
  padding: 5rem 0 9rem;
  font-size: 1.6rem;
  display: flex;
  color: #c9c9c9; }
  .customer__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  @media only screen and (min-width: 62em) {
    .customer__item {
      flex: 0 0 calc(33.3333% - 1rem); } }
  .customer__text {
    padding: 1rem 2rem 1rem; }
  .customer__info {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 2rem; }
  .customer__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .customer__detail {
    margin-left: 1rem; }

.form {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem 5rem;
  margin: 10rem auto 0rem;
  max-width: 80rem;
  background: white;
  text-align: left;
  color: #B76B00;
  font-size: 1.6rem;
  opacity: .75;
  z-index: 8; }
  .form__sender {
    display: flex;
    flex-flow: column; }
    @media only screen and (min-width: 48em) {
      .form__sender {
        flex-flow: row;
        margin-bottom: 2rem;
        justify-content: space-between; } }
  .form .sender__name, .form .sender__email {
    display: flex;
    flex-flow: column;
    flex: 1; }
    @media only screen and (min-width: 48em) {
      .form .sender__name, .form .sender__email {
        flex: 0 0 calc(50% - 1rem); } }
  .form__message {
    display: flex;
    flex-flow: column; }
  .form__input, .form__textarea {
    border: none;
    border-bottom: 0.1rem solid #B76B00;
    outline: none;
    padding: .5rem;
    margin-bottom: 1rem;
    background: transparent; }
  .form__textarea {
    resize: none; }
  .form__cta {
    display: flex;
    flex-flow: row;
    justify-content: center; }
  .form .required-fields {
    font-size: 1rem; }
  .form__btn {
    align-self: center; }

.features {
  width: 80%; }
  .features__heading {
    color: #f7f7f7; }
  .features__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .features__wrapper {
        flex-flow: row wrap; } }
  .features__item {
    color: #777;
    background: #fff;
    display: flex;
    flex-flow: column;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    flex: 0 0 calc(50% - 2rem); }
    .features__item .item {
      display: flex;
      flex-flow: column; }
      .features__item .item__header {
        display: block;
        text-align: center; }
        .features__item .item__header .item__img {
          max-width: 100%;
          max-height: 100%;
          flex: 2; }
      .features__item .item__body {
        padding: 1rem 2rem;
        font-size: 1.6rem; }
        @media only screen and (min-width: 62em) {
          .features__item .item__body {
            flex: 1; } }
        .features__item .item__body .info__text {
          font-size: 1.6rem; }
      .features__item .item__footer {
        display: flex;
        flex-flow: row;
        justify-content: center; }

.service {
  width: 80%; }
  .service__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .service__wrapper {
        flex-flow: row wrap;
        justify-content: center; } }
  .service__item {
    margin-bottom: 2rem;
    padding-bottom: -2rem;
    background: #fff;
    display: flex;
    flex-flow: column wrap;
    transition: box-shadow .3s ease-in-out;
    position: relative; }
    .service__item:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 62em) {
      .service__item {
        flex: 0 0 calc(33.3333% - 1rem); } }
    .service__item:not(:last-child) {
      margin-right: 1rem; }
    @media only screen and (min-width: 112.5em) {
      .service__item {
        flex: 0 0 calc(20% - 1rem); } }
  .service .item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../img/package1.jpeg") center/cover; }
  .service .item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../img/package2.jpeg") center/cover; }
  .service .item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../img/package3.jpeg") center/cover; }
  .service .item-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../img/package4.jpeg") center/cover; }
  .service .item-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../img/package5.jpeg") center/cover; }
  .service .item__header {
    text-align: center;
    padding: 3rem 0 2rem; }
  .service .item__heading {
    color: #f7f7f7; }
  .service .item__body {
    list-style: none;
    padding: 0 2rem 0rem;
    margin-top: 1rem;
    flex: 1;
    text-align: center;
    font-size: 1.2rem; }
    .service .item__body-text {
      border-bottom: 0.1rem solid #eee; }
  .service .item__footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background: #ff9702;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #f7f7f7;
    cursor: pointer; }
  .service .item__cta {
    text-decoration: none; }
    .service .item__cta:active, .service .item__cta:visited {
      color: #eee; }
  .service .item__price {
    font-size: 3rem;
    color: #f7f7f7; }

.footer {
  background: #eee;
  font-size: 1.4rem;
  color: #777;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .footer__wrapper {
    padding: 5rem 0 3rem; }
    @media only screen and (min-width: 48em) {
      .footer__wrapper {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between; } }
  .footer__item {
    flex: 0 0 calc(50% - 1rem);
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #fff;
    padding: 2rem 5rem;
    margin: 4rem 0;
    position: relative; }
    @media only screen and (min-width: 30em) {
      .footer__item {
        padding: 2rem 8rem; } }
    @media only screen and (min-width: 48em) {
      .footer__item {
        padding: 2rem 4rem;
        margin: 0; } }
    @media only screen and (min-width: 62em) {
      .footer__item {
        padding: 2rem 0; } }
    .footer__item .item__heading {
      font-weight: 600;
      font-size: 2rem; }
    .footer__item .item__body {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;
      align-items: center; }
    .footer__item .item__section {
      display: flex;
      margin: .5rem 0;
      width: 80%; }
    .footer__item .item__link {
      cursor: pointer; }
    .footer__item .item__icon {
      padding-top: .5rem;
      margin-right: 4rem; }
    .footer__item .item__social-icons {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      font-size: 2rem;
      margin-top: 2rem; }
  .footer__copyright {
    width: 100%;
    text-align: center;
    margin: 2rem auto 1rem; }

.wrapper, .header, .main-content, .footer {
  max-width: 100vw; }

.header {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../img/header_bg.jpeg") bottom/cover no-repeat fixed;
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0); }
  .header__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    @media only screen and (min-width: 62em) {
      .header__wrapper {
        justify-content: center; } }
  .header__welcome {
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    @media only screen and (min-width: 48em) {
      .header__welcome {
        width: 60%;
        padding: 0rem 0;
        border-radius: 1.5rem; } }
    @media only screen and (min-width: 62em) {
      .header__welcome {
        width: 70%; } }
  .header__heading {
    text-align: center; }
    @media only screen and (min-width: 62em) {
      .header__heading {
        text-align: left; } }
  .header__logo {
    font-size: 1rem;
    top: 3rem;
    left: 3rem;
    max-width: 100vw;
    position: absolute;
    display: inline-block; }
    @media only screen and (min-width: 30em) {
      .header__logo {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        left: 3.5rem; } }
    @media only screen and (min-width: 48em) {
      .header__logo {
        font-size: 2rem; } }
    @media only screen and (min-width: 62em) {
      .header__logo {
        font-size: 1.5rem; } }
  .header__cta {
    margin-top: 2rem; }
    @media only screen and (min-width: 62em) {
      .header__cta {
        width: 70%; } }
    .header__cta-wrapper {
      display: flex;
      flex-flow: column;
      justify-content: flex-start; }
      @media only screen and (min-width: 62em) {
        .header__cta-wrapper {
          flex-flow: row; } }

.navbar {
  background: #eee;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  z-index: 100;
  height: 8rem; }
  @media only screen and (min-width: 62em) {
    .navbar {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 4rem; } }
  .navbar__panel {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 3rem;
    flex: 1;
    z-index: 10;
    background: #eee; }
    @media only screen and (min-width: 62em) {
      .navbar__panel {
        flex: unset; } }
  .navbar__logo {
    display: flex;
    align-items: center;
    font-size: 3rem; }
  .navbar__btn {
    display: flex;
    align-items: center; }
    .navbar__btn .navbar__icon {
      cursor: pointer; }
      @media only screen and (min-width: 62em) {
        .navbar__btn .navbar__icon {
          display: none;
          padding: 0; } }
    .navbar__btn .line {
      height: .2rem;
      width: 2.5rem;
      background-color: #333;
      margin: .6rem auto; }
    .navbar__btn .line-1,
    .navbar__btn .line-3 {
      transition: all .4s; }
  .navbar__menu {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: -11rem;
    transition: top .5s ease-in-out; }
    @media only screen and (min-width: 62em) {
      .navbar__menu {
        top: 0;
        z-index: 10;
        width: unset;
        position: unset; } }
    .navbar__menu .menu__wrapper {
      list-style: none;
      border-top: 0.1rem solid #777; }
      @media only screen and (min-width: 62em) {
        .navbar__menu .menu__wrapper {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          border: none; } }
    .navbar__menu .menu__item {
      border-bottom: 0.1rem solid #777;
      padding: .5rem 3rem;
      text-align: center;
      background: #eee; }
      @media only screen and (min-width: 62em) {
        .navbar__menu .menu__item {
          border: none;
          padding: 0 2rem; } }
    .navbar__menu .menu__link {
      color: #777;
      text-decoration: none;
      margin: 0;
      font-size: 1.6rem; }

.checkbox:checked ~ .navbar__menu {
  top: 8rem; }

.checkbox:checked ~ .navbar__panel .navbar__btn .line-1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem; }
  @media only screen and (min-width: 30em) {
    .checkbox:checked ~ .navbar__panel .navbar__btn .line-1 {
      transform: rotate(-405deg) translate(-4px, 6px);
      width: 2.5rem; } }
  @media only screen and (min-width: 48em) {
    .checkbox:checked ~ .navbar__panel .navbar__btn .line-1 {
      transform: rotate(-405deg) translate(-3px, 4px);
      width: 2.5rem; } }

.checkbox:checked ~ .navbar__panel .navbar__btn .line-2 {
  opacity: 0; }

.checkbox:checked ~ .navbar__panel .navbar__btn .line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem; }

.section__about {
  background: #f7f7f7;
  max-width: 100vw;
  padding: 18rem 0 5rem;
  margin-top: -13rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__features {
  background: linear-gradient(rgba(119, 119, 119, 0.7), #333333);
  color: #f7f7f7;
  max-width: 100vw;
  min-height: 100vh;
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__service {
  background: #f7f7f7;
  max-width: 100vw;
  overflow: hidden;
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__contact {
  background: linear-gradient(rgba(255, 201, 126, 0.7), #b76b00), url("../img/contact.jpg") center/cover no-repeat fixed; }
