//COLOURS
$color-primary:#4274a7;
$color-primary-light: #7abed2;
$color-primary-dark: #0062aa;

$color-secondary: #55dab6;
$color-secondary-light: #97e5b4;
$color-secondary-dark: #088146;

$color-tertiary: #9935d0;
$color-tertiary-light: #e676ee;
$color-tertiary-dark: #4d0e51;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #c9c9c9;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #181818;

$color-white: #fff;
$color-black: #000;

//FONT 
$default-font-size: 1.6rem;
