.footer {
    background-color: $color-grey-dark-4;
    padding: 0 2rem;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include respond(screen-m) {
        flex-flow: row wrap;
        justify-content: center;
        padding: 0rem 6rem;
    }
    @include respond(screen-l) {
        padding: 0 7rem;
    }
    &__logo {
        margin: 2rem 0 0;
        font-size: 2rem;
        @include respond(screen-m) {
            margin-top: 1rem;
            flex: 1 0 50%;
        }
    }
    &__copyright {
        text-align: center;
        margin: 2rem auto;
        @include respond(screen-m) {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__icon-list {
        display: flex;
        justify-content: flex-end;
        @include respond(screen-m) {
            justify-self: end;
        }
        .social-icon {
            padding: 0 1.5rem;
            text-decoration: none;
            color: $color-white;
            font-size: 2rem;
            cursor: pointer;
           
            @include respond(screen-m) {
                padding: 0 0 0 5rem;
            }
            @include respond(screen-l) {
                padding: 0 0 0 7rem;
            }
           
        }
    }
}