.header {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media only screen and (max-width: 37.5em) {
        //600px/16 = 37.5em
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/northern-light_bg.png')top left/cover fixed no-repeat;
    }
    @include respond(screen-l) {
        justify-content: center;
    }
    &__btn-box {
        margin-top: 4rem;
        @include respond(screen-s) {
            margin-top: 2rem;
        }
        @include respond(screen-l) {
            margin-top: 3rem;
            align-self: flex-start;
        }
    }
    &__btns {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        @include respond(screen-l) {
            flex-flow: row;
            align-items: flex-start;
        }
    }
    &__welcome {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        padding-top: 7rem;
        @include respond(screen-m) {
            padding-top: 5rem;
        }
        @include respond(screen-l) {
            flex-flow: column wrap;
            align-items: center;
            padding-top: 5rem;
        }
    }
    &__heading {
        text-align: center;
        @include respond (screen-l) {
            text-align: left;
        }
    }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    ul {
        list-style: none;
    }

    .type-effect{
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        border-right: 1rem solid $color-grey-light-2;
        animation: type 4s steps(50, end), blink .8s ease infinite;
    }

    .effect-box{
        position: absolute;
    }
}