.navbar {
    background: $color-grey-dark-4;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    z-index: 100;
    height: 8rem;
    @include respond(screen-l) {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
    }
    &__panel {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 0 3rem;
        flex: 1;
        z-index: 10;
        background: $color-grey-dark-4;
        @include respond(screen-l) {
            padding: 0;
            flex: unset;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        font-size: 2rem;

        @include respond(screen-s){
            font-size: 2.5rem;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        .navbar__icon {
            cursor: pointer;
            @include respond(screen-l) {
                display: none;
                padding: 0;
            }
        }
        .line {
            height: .2rem;
            width: 2.5rem;
            background-color: $color-grey-light-1;
            margin: .6rem auto;
        }
        .line-1,
        .line-3 {
           transition: all .4s;
        }
    }
    &__menu {
        position: absolute;
        z-index: 5;
        width: 100%;
        top: -11rem;
        transition: top .5s ease-in-out;
        @include respond(screen-l) {
            top: 0;
            z-index: 10;
            width: unset;
            position: unset;
            // display: flex;
        }
        .menu {
            &__wrapper {
                list-style: none;
                border-top: .1rem solid $color-grey-dark-2;
                @include respond(screen-l) {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    border: none;
                }
            }
            &__item {
                border-bottom: .1rem solid $color-grey-dark-2;
                padding: .5rem 3rem;
                text-align: center;
                background: $color-grey-dark-4;
                @include respond(screen-l) {
                    border: none;
                    padding: 0 2rem;
                }
            }
            &__link {
                color: $color-grey-dark-2;
                text-decoration: none;
                margin: 0;
                font-size: $default-font-size;
                transition: color .3s ease-in;

                &:hover{
                    color: $color-primary-dark;
                }
            }
        }
    }
}

.checkbox:checked {
    ~.navbar__menu {
        top: 8rem;
    }
    ~.navbar__panel .navbar__btn {
        .line-1 {
            transform: rotate(-405deg) translate(-5px, 6px);
            width: 2.5rem;

            @include respond(screen-s){
            transform: rotate(-405deg) translate(-4px, 6px);
            width: 2.5rem;
            }

            @include respond(screen-m){
            transform: rotate(-405deg) translate(-3px, 4px);
            width: 2.5rem;
            }
        }
        .line-2 {
            opacity: 0;
        }
        .line-3 {
            transform: rotate(405deg) translate(-5px, -6px);
            width: 2.5rem;
        }
    }
}