.section__about{
    background: $color-grey-light-1;
    max-width: 100vw;
    padding: 10rem 0 5rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__portfolio {
    background: linear-gradient(rgba($color-secondary-light, .7), rgba($color-secondary-dark, 1));
    color: $color-grey-light-1;
    max-width: 100vw;
    min-height: 100vh;
    padding: 10rem 0 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__service {
    background: $color-grey-light-1;
    max-width: 100vw;
    overflow: hidden;
    padding: 10rem 0 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__contact{
    background: linear-gradient(rgba($color-tertiary-light, .7), rgba($color-tertiary-dark, 1)), url('../img/contact.jpg')center /cover no-repeat fixed;
    padding: 20rem 0 0;

    .contact__heading, .contact__text{
        color: $color-grey-light-3;
    }
}
