/*
    320px - 479px:      Screen Extra Extra Small   screen-xs       <= Design Default
    480px - 639px:      Screen Extra Small         screen-s  
    768px - 991px:      Screen Medium              screen-m        <= Standard
    992px - 1199px:     Screen Large               screen-l
    1200px - 1799px:    Screen Extra Large         screen-xl
    1800px +:           Screen Extra Extra Large   screen-xxl      <= Special

1em = 16px;

ORDER:

1. Base & Typography
2. General Layout & Grid
3. Page Layout
4. Components

*/
@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #f7f7f7; }
  100% {
    border-color: transparent; } }

@keyframes type {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*///Based Font Size/Browser Default Font Size: 10px/16px = 0.625 // 10px: size we want for 1rem, 16px: default size = % of default size///*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden; }
  @media only screen and (min-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }

::selection {
  background-color: #009900;
  color: #fff; }

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.brand-logo {
  font-family: 'Ubuntu', sans-serif;
  color: #eee;
  line-height: 5.5rem;
  text-decoration: none;
  font-weight: 400;
  transition: color .5s ease-in-out; }
  .brand-logo:hover {
    color: #026631; }

.heading-primary {
  font-size: .5rem; }
  .heading-primary--main {
    color: #f7f7f7;
    font-size: 3.3rem;
    line-height: 1.4;
    font-weight: 600;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 30em) {
      .heading-primary--main {
        font-size: 3.7rem; } }
    @media only screen and (min-width: 48em) {
      .heading-primary--main {
        font-size: 4rem; } }
    @media only screen and (min-width: 112.5em) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (min-width: 30em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: #777;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (min-width: 30em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (min-width: 48em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center; }
  .section-title i {
    font-size: 5rem; }

.section-bar {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 90%;
  clip-path: polygon(0 0, 30% 0, 50% 20%, 70% 0, 100% 0, 100% 100%, 0 100%);
  max-width: 100vw;
  height: 30rem;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-bar__title {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3rem; }
    .section-bar__title i {
      text-align: center;
      font-size: 5rem; }

.icon__linkedin {
  transition: color .3s ease-in-out; }
  .icon__linkedin:hover {
    color: #0077b5; }

.icon__gitlab {
  transition: color .3s ease-in-out; }
  .icon__gitlab:hover {
    color: #e24329; }

.icon__github {
  transition: color .3s ease-in-out; }
  .icon__github:hover {
    color: #24292E; }

.icon__codepen {
  transition: color .3s ease-in-out; }
  .icon__codepen:hover {
    color: #32333B; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 48em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 48em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -3; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: -2; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }
  @media only screen and (min-width: 30em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }
  @media only screen and (min-width: 62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--primary, .btn--primary-dark, .btn--primary-light {
  text-decoration: none;
  padding: .3rem 3rem;
  margin: .5rem;
  border: none;
  background: #009900;
  color: #fff; }
  .btn--primary-dark {
    background: #026631; }
  .btn--primary-light {
    background: #66cdaa; }
  @media only screen and (min-width: 30em) {
    .btn--primary, .btn--primary-dark, .btn--primary-light {
      padding: .5rem 5rem; } }
  @media only screen and (min-width: 48em) {
    .btn--primary, .btn--primary-dark, .btn--primary-light {
      padding: .5rem 8rem; } }
  @media only screen and (min-width: 62em) {
    .btn--primary, .btn--primary-dark, .btn--primary-light {
      padding: .5rem 2rem; } }

.btn--secondary, .btn--secondary-dark, .btn--secondary-light, .btn--tertiary-dark, .btn--tertiary-light {
  text-decoration: none;
  padding: .3rem 3rem;
  margin: .5rem;
  border: none;
  background-color: #4e80ab;
  color: #fff; }
  .btn--secondary-dark {
    background: #001440; }
  .btn--secondary-light {
    background: #6ca7dc; }
  @media only screen and (min-width: 30em) {
    .btn--secondary, .btn--secondary-dark, .btn--secondary-light, .btn--tertiary-dark, .btn--tertiary-light {
      padding: .5rem 5rem; } }
  @media only screen and (min-width: 48em) {
    .btn--secondary, .btn--secondary-dark, .btn--secondary-light, .btn--tertiary-dark, .btn--tertiary-light {
      padding: .5rem 8rem; } }
  @media only screen and (min-width: 62em) {
    .btn--secondary, .btn--secondary-dark, .btn--secondary-light, .btn--tertiary-dark, .btn--tertiary-light {
      padding: .5rem 2rem; } }

.btn--tertiary {
  text-decoration: none;
  padding: .3rem 3rem;
  margin: .5rem;
  border: none;
  background-color: #e42c2c;
  color: #fff; }
  .btn--tertiary-dark {
    background: #480303; }
  .btn--tertiary-light {
    background: #f05e5e; }
  @media only screen and (min-width: 30em) {
    .btn--tertiary {
      padding: .5rem 5rem; } }
  @media only screen and (min-width: 48em) {
    .btn--tertiary {
      padding: .5rem 8rem; } }
  @media only screen and (min-width: 62em) {
    .btn--tertiary {
      padding: .5rem 2rem; } }

.btn--transparent {
  text-decoration: none;
  padding: .3rem 3rem;
  margin: .5rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
  color: #fff; }
  @media only screen and (min-width: 30em) {
    .btn--transparent {
      padding: .5rem 5rem; } }
  @media only screen and (min-width: 48em) {
    .btn--transparent {
      padding: .5rem 8rem; } }
  @media only screen and (min-width: 62em) {
    .btn--transparent {
      padding: .5rem 2rem; } }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.cta {
  padding: .5rem 4rem;
  margin: .5rem;
  border: none; }
  @media only screen and (min-width: 30em) {
    .cta {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .cta {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .cta {
      padding: .5rem 7rem; } }
  .cta::after {
    background-color: #66cdaa; }

.round-corner {
  border-radius: 10rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #009900;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #009900;
  padding: 3px;
  transition: all .2; }

.btn-text:hover {
  background-color: #009900;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.carousel {
  margin: 0 auto 10%;
  padding: 0 0 20% 0;
  position: relative;
  width: 95%;
  height: 101%;
  user-select: none;
  background-color: #eee;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24); }
  .carousel input {
    display: none; }
  @media only screen and (min-width: 48em) {
    .carousel {
      width: 80%; } }
  @media only screen and (min-width: 62em) {
    .carousel {
      width: 70%; } }
  .carousel .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .carousel .slide_img .prev,
    .carousel .slide_img .next {
      width: 12%;
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 99;
      transition: .45s;
      cursor: pointer;
      text-align: center; }
      .carousel .slide_img .prev:hover,
      .carousel .slide_img .next:hover {
        transition: .3s;
        background-color: rgba(255, 82, 82, 0.8); }
      .carousel .slide_img .prev span,
      .carousel .slide_img .next span {
        position: absolute;
        width: 0px;
        height: 0px;
        border: solid 20px;
        top: 50%;
        transform: translateY(-50%); }
    .carousel .slide_img .next {
      right: 0; }
      .carousel .slide_img .next span {
        border-color: transparent transparent transparent #fff;
        left: 35%; }
    .carousel .slide_img .prev {
      left: 0; }
      .carousel .slide_img .prev span {
        border-color: transparent #fff transparent transparent;
        right: 35%; }
    .carousel .slide_img .slide-content {
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%; }
      .carousel .slide_img .slide-content p.heading {
        font-weight: bold;
        font-size: 2rem; }
      .carousel .slide_img .slide-content p {
        font-size: 1.5rem;
        line-height: 2.5rem; }
  .carousel .slide-1 {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; }
    .carousel .slide-1 h1 {
      font-size: 3rem;
      margin: 0; }
    .carousel .slide-1 i {
      font-size: 9rem; }
  .carousel .slide-2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; }
    .carousel .slide-2 img {
      width: 30rem;
      height: 13rem;
      margin: 0 0 3% 0; }
    .carousel .slide-2 p.slide__heading {
      font-size: 2rem;
      line-height: 2.5rem;
      color: #111; }
    .carousel .slide-2 p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #111; }
  .carousel .slide-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap; }
    .carousel .slide-3 i {
      font-size: 15rem;
      align-self: center; }
    .carousel .slide-3 p.heading {
      color: #001440;
      margin: 0 0 2% 0; }
    .carousel .slide-3 p {
      font-size: 1.5rem;
      line-height: 2rem; }
  .carousel .slide-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap; }
    .carousel .slide-4 .icon-group {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-self: center; }
      .carousel .slide-4 .icon-group img {
        width: 15%;
        height: 100%;
        margin: 0 2rem; }
    .carousel .slide-4 p.heading {
      font-size: 3rem;
      color: #001440;
      margin: 0 0 3rem 0; }
    .carousel .slide-4 p {
      font-size: 1.5rem;
      line-height: 2rem; }
  .carousel .slide-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap; }
    .carousel .slide-5 img {
      width: 7rem;
      height: 7rem;
      margin: 0 1rem 3rem; }
    .carousel .slide-5 p.heading {
      color: #001440;
      margin: 0 0 2rem 0;
      font-size: 3rem; }
    .carousel .slide-5 p {
      font-size: 1.5rem;
      line-height: 2rem; }
    .carousel .slide-5 .icon-group-a {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
    .carousel .slide-5 .icon-group-b {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
  .carousel .slide-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap; }
    .carousel .slide-6 .icon-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0 5rem;
      width: 80%; }
    .carousel .slide-6 img {
      width: 6rem;
      height: 6rem; }
    .carousel .slide-6 .img__express {
      width: 15rem;
      height: 5rem; }
    .carousel .slide-6 .img__graphql {
      width: 8rem;
      height: 8rem; }
    .carousel .slide-6 p.heading {
      color: #001440;
      margin: 0 0 2rem 0;
      font-size: 3rem; }
  .carousel .slide-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap; }
    .carousel .slide-7 .icon-group {
      display: flex;
      align-items: center;
      padding: 0 7rem; }
    .carousel .slide-7 .img__mongo-db {
      width: 20rem;
      height: 12rem; }
    .carousel .slide-7 .img__firebase {
      margin-left: 5rem;
      width: 20rem;
      height: 6rem; }
    .carousel .slide-7 p.heading {
      color: #001440;
      font-size: 3rem;
      margin-bottom: 2rem; }
  .carousel #nav_slide {
    width: 100%;
    bottom: 12.5%;
    height: 1rem;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default; }
    .carousel #nav_slide .dots {
      width: 2rem;
      height: 2rem;
      margin: 0 .3rem;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      transition: .4s;
      cursor: pointer; }
      @media only screen and (min-width: 48em) {
        .carousel #nav_slide .dots {
          width: 1rem;
          height: 1rem; } }
    .carousel #nav_slide #dot1:hover {
      background: #f05e5e; }
    .carousel #nav_slide #dot2:hover {
      background: #f05e5e; }
    .carousel #nav_slide #dot3:hover {
      background: #f05e5e; }
    .carousel #nav_slide #dot4:hover {
      background: #f05e5e; }
    .carousel #nav_slide #dot5:hover {
      background: #f05e5e; }
    .carousel #nav_slide #dot6:hover {
      background: #f05e5e; }
    .carousel #nav_slide #dot7:hover {
      background: #f05e5e; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven {
  z-index: 9;
  animation: scroll 1s ease-in-out; }

#i1:checked ~ #nav_slide #dot1 {
  background: #480303; }

#i2:checked ~ #nav_slide #dot2 {
  background: #480303; }

#i3:checked ~ #nav_slide #dot3 {
  background: #480303; }

#i4:checked ~ #nav_slide #dot4 {
  background: #480303; }

#i5:checked ~ #nav_slide #dot5 {
  background: #480303; }

#i6:checked ~ #nav_slide #dot6 {
  background: #480303; }

#i7:checked ~ #nav_slide #dot7 {
  background: #480303; }

@keyframes scroll {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.form {
  display: flex;
  flex-direction: column;
  padding: 6rem 0 5rem;
  margin: 5rem auto;
  max-width: 80rem;
  background: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  text-align: left; }
  .form-area {
    margin-top: 3rem; }
  .form input {
    border: none;
    background: #eee; }
  .form .sender-info {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 auto; }
    .form .sender-info .name,
    .form .sender-info .email {
      flex: 1;
      display: flex;
      flex-flow: column; }
      .form .sender-info .name label,
      .form .sender-info .email label {
        display: block;
        padding: 0;
        margin: 0;
        font-size: 1.5rem; }
      .form .sender-info .name input[name="email"],
      .form .sender-info .name input[name="name"],
      .form .sender-info .email input[name="email"],
      .form .sender-info .email input[name="name"] {
        flex: 1;
        height: 4rem;
        padding: .5rem; }
        .form .sender-info .name input[name="email"]:focus,
        .form .sender-info .name input[name="name"]:focus,
        .form .sender-info .email input[name="email"]:focus,
        .form .sender-info .email input[name="name"]:focus {
          outline: none; }
    @media only screen and (min-width: 48em) {
      .form .sender-info .name {
        margin-right: 1rem; } }
    @media only screen and (min-width: 48em) {
      .form .sender-info {
        flex-flow: row;
        justify-content: space-between; } }
  .form .subject,
  .form .content {
    width: 80%;
    margin: 0 auto; }
    .form .subject label,
    .form .content label {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 1.5rem; }
  .form .subject input[name="subject"] {
    width: 100%;
    height: 4rem;
    padding: .5rem; }
    .form .subject input[name="subject"]:focus {
      outline: none; }
  .form .content .msg-box {
    border: none;
    background: #eee;
    width: 100%;
    resize: none;
    padding: .5rem; }
    .form .content .msg-box:focus {
      outline: none; }
  .form__btn-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 1rem 0; }
    @media only screen and (min-width: 30em) {
      .form__btn-box {
        flex-flow: row wrap; } }
  .form__btn {
    background: #66cdaa;
    color: #f7f7f7;
    padding: .5rem 3rem;
    border: none;
    outline: none;
    margin: 1rem 2rem;
    font-size: 2rem;
    font-family: inherit; }
    .form__btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .form__btn:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.personal-info {
  width: 100%;
  height: 100vh;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 9rem 0;
  font-size: 1.6rem;
  align-self: flex-end;
  display: flex;
  background: linear-gradient(120deg, rgba(228, 44, 44, 0.75), #480303), url(../img/mz-bg_lg.jpg) top left/cover fixed no-repeat; }

.profile {
  width: 90%;
  margin: 1.5rem auto 20rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 9rem 5rem;
  font-size: 1.6rem;
  border-radius: 5rem; }
  @media only screen and (min-width: 30em) {
    .profile {
      padding: 9rem 8rem; } }
  @media only screen and (min-width: 48em) {
    .profile {
      padding: 9rem 10rem; } }
  @media only screen and (min-width: 62em) {
    .profile {
      width: 80%; } }
  @media only screen and (min-width: 75em) {
    .profile {
      width: 75%;
      padding-bottom: 11rem; } }
  .profile__header {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem; }
    .profile__header i {
      font-size: 6rem;
      margin-right: 2rem; }
  .profile__info {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    @media only screen and (min-width: 48em) {
      .profile__info {
        display: block; } }
  .profile__name {
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .profile__name {
        text-align: left; } }
  .profile__location {
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .profile__location {
        text-align: left; } }
  .profile__shape {
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    border-radius: 50%; }
    @media only screen and (min-width: 48em) {
      .profile__shape {
        float: left;
        shape-outside: circle();
        margin: 0rem 4rem 1.7rem 0;
        position: relative;
        overflow: hidden; } }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .profile__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .profile__img {
    height: 100%;
    backface-visibility: hidden;
    transition: all .5s; }
  .profile__text {
    text-align: justify;
    font-size: 1.6rem; }
  .profile__caption {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .profile__social-media {
    margin: 2rem 0 0 0; }
    .profile__social-media--box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap; }
      .profile__social-media--box--logo {
        height: 5%;
        width: 5%;
        cursor: pointer; }
  .profile__social-icons {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    font-size: 3rem; }
    .profile__social-icons i {
      padding: 0 2.5rem;
      color: #777; }

.portfolio__wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around; }
  @media only screen and (min-width: 62em) {
    .portfolio__wrapper {
      flex-flow: nowrap;
      padding: 0 4rem; } }

.portfolio .project {
  margin: 2rem 0rem;
  background: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-flow: column; }
  @media only screen and (min-width: 62em) {
    .portfolio .project {
      margin: 2rem 1rem 0;
      width: 90%; } }
  .portfolio .project__text {
    font-weight: 600; }
  .portfolio .project__info {
    list-style: none;
    margin: 3rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    flex: 1; }
    @media only screen and (min-width: 30em) {
      .portfolio .project__info {
        font-size: 2rem; } }
    @media only screen and (min-width: 48em) {
      .portfolio .project__info {
        font-size: 2.5rem; } }
    @media only screen and (min-width: 62em) {
      .portfolio .project__info {
        font-size: 1.3rem; } }
    .portfolio .project__info--features {
      list-style: none;
      text-align: center; }
    .portfolio .project__info--icon {
      font-size: 3rem; }
  .portfolio .project__title {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
    background: #001440;
    font-weight: 600;
    color: #eee; }
    @media only screen and (min-width: 30em) {
      .portfolio .project__title {
        font-size: 4rem; } }
    @media only screen and (min-width: 62em) {
      .portfolio .project__title {
        font-size: 1.5rem; } }
  .portfolio .project__img {
    max-width: 100%; }
  .portfolio .project__link {
    display: flex;
    justify-content: flex-end; }
    .portfolio .project__link--btn {
      text-decoration: none;
      width: 100%;
      text-align: center;
      background: #001440;
      border: 0.1rem solid #00040d;
      color: #a9a9a9;
      cursor: pointer;
      padding: .75rem 1.5rem;
      font-size: 2rem;
      transition: color .3s ease-in; }
      .portfolio .project__link--btn:hover {
        color: #fff; }
      @media only screen and (min-width: 30em) {
        .portfolio .project__link--btn {
          font-size: 3rem; } }
      @media only screen and (min-width: 62em) {
        .portfolio .project__link--btn {
          font-size: 1rem; } }
      @media only screen and (min-width: 75em) {
        .portfolio .project__link--btn {
          font-size: 1.5rem; } }
  .portfolio .project .buffer-text {
    margin: 2rem 0; }

.footer {
  background-color: #111;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: #f7f7f7;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 48em) {
    .footer {
      flex-flow: row wrap;
      justify-content: center;
      padding: 0rem 6rem; } }
  @media only screen and (min-width: 62em) {
    .footer {
      padding: 0 7rem; } }
  .footer__logo {
    margin: 2rem 0 0;
    font-size: 2rem; }
    @media only screen and (min-width: 48em) {
      .footer__logo {
        margin-top: 1rem;
        flex: 1 0 50%; } }
  .footer__copyright {
    text-align: center;
    margin: 2rem auto; }
    @media only screen and (min-width: 48em) {
      .footer__copyright {
        display: block;
        width: 100%;
        margin-bottom: 2rem; } }
  .footer__icon-list {
    display: flex;
    justify-content: flex-end; }
    @media only screen and (min-width: 48em) {
      .footer__icon-list {
        justify-self: end; } }
    .footer__icon-list .social-icon {
      padding: 0 1.5rem;
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      cursor: pointer; }
      @media only screen and (min-width: 48em) {
        .footer__icon-list .social-icon {
          padding: 0 0 0 5rem; } }
      @media only screen and (min-width: 62em) {
        .footer__icon-list .social-icon {
          padding: 0 0 0 7rem; } }

.wrapper {
  min-height: 100vh;
  max-width: 100vw; }

.header {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/northern-light_bg.png") top left/cover fixed no-repeat; } }
  @media only screen and (min-width: 62em) {
    .header {
      justify-content: center; } }
  .header__btn-box {
    margin-top: 4rem; }
    @media only screen and (min-width: 30em) {
      .header__btn-box {
        margin-top: 2rem; } }
    @media only screen and (min-width: 62em) {
      .header__btn-box {
        margin-top: 3rem;
        align-self: flex-start; } }
  .header__btns {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    @media only screen and (min-width: 62em) {
      .header__btns {
        flex-flow: row;
        align-items: flex-start; } }
  .header__welcome {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding-top: 7rem; }
    @media only screen and (min-width: 48em) {
      .header__welcome {
        padding-top: 5rem; } }
    @media only screen and (min-width: 62em) {
      .header__welcome {
        flex-flow: column wrap;
        align-items: center;
        padding-top: 5rem; } }
  .header__heading {
    text-align: center; }
    @media only screen and (min-width: 62em) {
      .header__heading {
        text-align: left; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header ul {
    list-style: none; }
  .header .type-effect {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1rem solid #eee;
    animation: type 4s steps(50, end), blink 0.8s ease infinite; }
  .header .effect-box {
    position: absolute; }

.navbar {
  background: #111;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  z-index: 100;
  height: 8rem; }
  @media only screen and (min-width: 62em) {
    .navbar {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 4rem; } }
  .navbar__panel {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 3rem;
    flex: 1;
    z-index: 10;
    background: #111; }
    @media only screen and (min-width: 62em) {
      .navbar__panel {
        padding: 0;
        flex: unset; } }
  .navbar__logo {
    display: flex;
    align-items: center;
    font-size: 2rem; }
    @media only screen and (min-width: 30em) {
      .navbar__logo {
        font-size: 2.5rem; } }
  .navbar__btn {
    display: flex;
    align-items: center; }
    .navbar__btn .navbar__icon {
      cursor: pointer; }
      @media only screen and (min-width: 62em) {
        .navbar__btn .navbar__icon {
          display: none;
          padding: 0; } }
    .navbar__btn .line {
      height: .2rem;
      width: 2.5rem;
      background-color: #f7f7f7;
      margin: .6rem auto; }
    .navbar__btn .line-1,
    .navbar__btn .line-3 {
      transition: all .4s; }
  .navbar__menu {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: -11rem;
    transition: top .5s ease-in-out; }
    @media only screen and (min-width: 62em) {
      .navbar__menu {
        top: 0;
        z-index: 10;
        width: unset;
        position: unset; } }
    .navbar__menu .menu__wrapper {
      list-style: none;
      border-top: 0.1rem solid #999; }
      @media only screen and (min-width: 62em) {
        .navbar__menu .menu__wrapper {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          border: none; } }
    .navbar__menu .menu__item {
      border-bottom: 0.1rem solid #999;
      padding: .5rem 3rem;
      text-align: center;
      background: #111; }
      @media only screen and (min-width: 62em) {
        .navbar__menu .menu__item {
          border: none;
          padding: 0 2rem; } }
    .navbar__menu .menu__link {
      color: #999;
      text-decoration: none;
      margin: 0;
      font-size: 1.6rem;
      transition: color .3s ease-in; }
      .navbar__menu .menu__link:hover {
        color: #026631; }

.checkbox:checked ~ .navbar__menu {
  top: 8rem; }

.checkbox:checked ~ .navbar__panel .navbar__btn .line-1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem; }
  @media only screen and (min-width: 30em) {
    .checkbox:checked ~ .navbar__panel .navbar__btn .line-1 {
      transform: rotate(-405deg) translate(-4px, 6px);
      width: 2.5rem; } }
  @media only screen and (min-width: 48em) {
    .checkbox:checked ~ .navbar__panel .navbar__btn .line-1 {
      transform: rotate(-405deg) translate(-3px, 4px);
      width: 2.5rem; } }

.checkbox:checked ~ .navbar__panel .navbar__btn .line-2 {
  opacity: 0; }

.checkbox:checked ~ .navbar__panel .navbar__btn .line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem; }

.section__about-me {
  background-color: #f7f7f7;
  max-width: 100vw;
  overflow: hidden;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__my-work {
  padding: 13rem 0;
  background-color: #f7f7f7; }

.section__contact-me {
  background-color: #f7f7f7;
  padding: 0rem 0 15rem 0;
  max-width: 100vw; }
  .section__contact-me .bar__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ffm-bg_lg1.png"); }
