.footer {
    background: $color-white;
    padding: 5rem 2rem 0;
    font-size: 1.4rem;
    color: $color-grey-dark-3;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @include respond(screen-m){
        padding: 5rem 10rem 0;
    }
    &__wrapper {
        // background: grey;
        @include respond(screen-m) {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            justify-content: space-between;
        }
    }
    &__item {
        border: .1rem solid $color-secondary-dark;
        flex: 0 0 calc(33.3333% - 2rem);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background: $color-grey-light-1;
        padding: 2rem 5rem;
        margin: 4rem 0;
        position: relative;

        @include respond(screen-s){
            padding: 2rem 8rem;
        }
        @include respond(screen-m) {
            padding: 2rem 4rem;
            margin: 0;
        }

        @include respond(screen-l){
            padding: 2rem 0;
        }

        .item{
            
            &__figure{
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                background: $color-secondary-dark;
                position: absolute;
                top: -2rem;

                .figure-icon{
                    font-size: 1.5rem;
                    color: $color-grey-light-3;
                }
            }

            &__address{
                margin-top: 1.5rem;
            }

            &__phone, &__email{
                margin-top: 2rem;

                @include respond(screen-m){
                    margin-top: 1rem;
                }
            }


        }
    }
    &__copyright {
        width: 100%;
        text-align: center;
        margin: 2rem auto 1rem;
    }
}
