// Main Page Structure
.wrapper {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-areas:
   
    "navbar header header"
    "navbar main main" 
    "navbar main main"
    "navbar footer footer";
}

nav {
    grid-area: navbar;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@include respond(screen-m) {
    .wrapper {
        grid-template-areas:   

        "navbar header header header"
        "navbar main main main" 
        "navbar main main main"
        "navbar footer footer footer";
    }
}

@include respond(screen-l) {
    .wrapper {
        grid-template-areas: 
       
        "navbar header header header header header header header header header"
        "navbar main main main main main main main main main" 
        "navbar main main main main main main main main main"
        "navbar footer footer footer footer footer footer footer footer footer";
    }
}


.header, .main-content, .footer{
    margin-left: 8rem;
}