.header {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../img/header_bg-img_compressed.jpg')top center/cover no-repeat fixed; // @media only screen and (max-width: 37.5em) {
    //     //600px/16 = 37.5em
    //     background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/resources/img/Love-Coding_bg.png')top left/cover fixed no-repeat;
    // }
    @include respond(screen-l) {
        justify-content: center;
    }
    &__btn-box {
        margin-top: 4rem;
        @include respond(screen-s) {
            margin-top: 2rem;
        }
        @include respond(screen-l) {
            margin-top: 3rem;
            align-self: flex-start;
        }
    }
    &__btns {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        @include respond(screen-l) {
            flex-flow: row;
            align-items: flex-start;
        }
    }
    &__welcome {
        border: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        @include respond(screen-m) {
            width: 60%;
            padding: 0rem 0;
            border-radius: 1.5rem;
        }
        @include respond(screen-l) {
            width: 70%;
        }
    }
    &__heading {
        text-align: center;
    }
    &__logo {
        color: $color-primary-light;
        cursor: pointer;
        font-size: 2rem;
        transition: text-shadow .5s ease-in;



        @include respond(screen-s){
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }

        @include respond(screen-m){
            font-size: 3rem;
        }
    }

    .chevron{
        font-size: 3rem;
        color: $color-primary;
        margin-top: 4rem;

        :hover{

        }

        @include respond(screen-m){
            font-size: 4rem;
        }
    }
}