//COLOURS
$color-primary:#009900;
$color-primary-light: #66cdaa;
$color-primary-dark: #026631;

$color-secondary:#4e80ab;
$color-secondary-light: #6ca7dc;
$color-secondary-dark: #001440;

$color-tertiary:#e42c2c;
$color-tertiary-light: #f05e5e;
$color-tertiary-dark: #480303;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #a9a9a9;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #111;

$color-white: #fff;
$color-black: #000;

//FONT 
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;