/*
    320px - 479px:      Screen Extra Extra Small   screen-xs       <= Design Default
    480px - 639px:      Screen Extra Small         screen-s  
    768px - 991px:      Screen Medium              screen-m        <= Standard
    992px - 1199px:     Screen Large               screen-l
    1200px - 1799px:    Screen Extra Large         screen-xl
    1800px +:           Screen Extra Extra Large   screen-xxl      <= Special

1em = 16px;

ORDER:

1. Base & Typography
2. General Layout & Grid
3. Page Layout
4. Components

*/
@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #333; }
  100% {
    border-color: transparent; } }

@keyframes type {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*///Based Font Size/Browser Default Font Size: 10px/16px = 0.625 // 10px: size we want for 1rem, 16px: default size = % of default size   /*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden; }
  @media only screen and (min-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }

::selection {
  background-color: #2e9f2e;
  color: #fff; }

body {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  line-height: 1.7;
  color: #999; }

.brand-logo {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 400;
  color: #47c747;
  line-height: 5.5rem;
  text-decoration: none; }
  .brand-logo:hover {
    color: #2e9f2e;
    font-weight: 600;
    cursor: pointer; }

.heading-primary {
  font-size: .5rem; }
  .heading-primary--main {
    color: #fff;
    font-size: 3.3rem;
    line-height: 1.4;
    font-weight: 600;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 30em) {
      .heading-primary--main {
        font-size: 3.7rem; } }
    @media only screen and (min-width: 48em) {
      .heading-primary--main {
        font-size: 4rem; } }
    @media only screen and (min-width: 112.5em) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (min-width: 48em) {
      .heading-primary--sub {
        letter-spacing: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: #999;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (min-width: 30em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (min-width: 48em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center; }
  .section-title i {
    font-size: 5rem; }

.section-bar {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 90%;
  max-width: 100vw;
  height: 40rem;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-bar__title {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3rem; }
    .section-bar__title i {
      text-align: center;
      font-size: 5rem; }

div.underline {
  width: 3rem;
  height: .1rem;
  background: #2e9f2e;
  margin-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.blog {
  margin: 2rem 0; }
  .blog__photo-img {
    width: 100%;
    display: block; }
  .blog__info-title {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0 .1rem 0; }
  .blog__info-text {
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: 1.5rem; }
  .blog__info-link {
    display: inline-block;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    margin: .75rem 0;
    color: var(--yellow);
    border: 0.2rem solid var(--yellow);
    transition: all 1s ease;
    position: relative;
    text-transform: capitalize; }
    .blog__info-link::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      top: 50%;
      right: -40px; }
    .blog__info-link:hover {
      background: var(--yellow);
      color: var(--black); }
  @media only screen and (min-width: 48em) {
    .blog .blog {
      margin: 0; }
      .blog .blog__info, .blog .blog__photo {
        flex: 0 0 50%; }
      .blog .blog__info {
        align-self: center;
        padding: 0 2rem; }
      .blog .blog--reverse {
        flex-flow: row-reverse; }
      .blog .blog__info-text {
        width: 80%; } }
  @media only screen and (min-width: 62em) {
    .blog .blog__info-text {
      width: 70%; } }

.section-padding {
  padding: 3rem 0; }

.flexbox-parent {
  max-width: 95vw;
  margin: 2rem auto; }

@media only screen and (min-width: 48em) {
  .flexbox-parent--medium {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media only screen and (min-width: 30em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }
  @media only screen and (min-width: 62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark {
  text-decoration: none;
  padding: .3rem 3rem;
  margin: .5rem;
  background-color: #901a1a;
  color: #fff; }
  @media only screen and (min-width: 30em) {
    .btn--dark {
      padding: .5rem 5rem; } }
  @media only screen and (min-width: 48em) {
    .btn--dark {
      padding: .5rem 8rem; } }
  @media only screen and (min-width: 62em) {
    .btn--dark {
      padding: .5rem 2rem; } }

.btn--light {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #205b20;
  color: #fff; }
  @media only screen and (min-width: 30em) {
    .btn--light {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--light {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--light {
      padding: .5rem 7rem; } }
  .btn--light::after {
    background-color: #2e9f2e; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2e9f2e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2e9f2e;
  padding: 3px;
  transition: all .2; }

.btn-text:hover {
  background-color: #2e9f2e;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.carousel {
  margin: 0 auto 10% auto;
  padding: 0 0 20% 0;
  position: relative;
  width: 95%;
  height: 100%;
  user-select: none;
  background-color: #eee;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24); }
  .carousel input {
    display: none; }
  @media only screen and (min-width: 48em) {
    .carousel {
      width: 80%; } }
  @media only screen and (min-width: 62em) {
    .carousel {
      width: 70%; } }
  .carousel .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .carousel .slide_img .prev,
    .carousel .slide_img .next {
      width: 12%;
      height: inherit;
      position: absolute;
      top: 0;
      background-color: transparent;
      z-index: 99;
      transition: .45s;
      cursor: pointer;
      text-align: center; }
      .carousel .slide_img .prev:hover,
      .carousel .slide_img .next:hover {
        transition: .3s; }
      .carousel .slide_img .prev span,
      .carousel .slide_img .next span {
        position: absolute;
        width: 0px;
        height: 0px;
        border: solid 20px;
        top: 50%;
        transform: translateY(-50%); }
    .carousel .slide_img .next {
      right: 0; }
      .carousel .slide_img .next span {
        border-color: transparent transparent transparent #fff;
        left: 35%; }
    .carousel .slide_img .prev {
      left: 0; }
      .carousel .slide_img .prev span {
        border-color: transparent #fff transparent transparent;
        right: 35%; }
    .carousel .slide_img .slide-content {
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      color: #f7f7f7; }
      .carousel .slide_img .slide-content__box {
        text-align: left; }
        .carousel .slide_img .slide-content__box p.slide__heading {
          font-weight: bold;
          font-size: 2rem; }
          @media only screen and (min-width: 48em) {
            .carousel .slide_img .slide-content__box p.slide__heading {
              font-size: 3.25rem;
              margin-bottom: 2rem; } }
          @media only screen and (min-width: 62em) {
            .carousel .slide_img .slide-content__box p.slide__heading {
              font-size: 2.5rem;
              margin-bottom: 0; } }
        .carousel .slide_img .slide-content__box p.slide__text {
          font-size: 1rem;
          line-height: 2.5rem; }
          @media only screen and (min-width: 30em) {
            .carousel .slide_img .slide-content__box p.slide__text {
              font-size: 1.7rem;
              line-height: 2rem; } }
          @media only screen and (min-width: 48em) {
            .carousel .slide_img .slide-content__box p.slide__text {
              font-size: 2.75rem;
              line-height: 3rem; } }
          @media only screen and (min-width: 62em) {
            .carousel .slide_img .slide-content__box p.slide__text {
              font-size: 1.75rem;
              line-height: 2.25rem; } }
  .carousel .slide-1 {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/food-prep.jpg") center/cover no-repeat; }
    .carousel .slide-1 h1 {
      font-size: 3rem;
      margin: 0; }
    .carousel .slide-1 i {
      font-size: 10rem; }
  .carousel .slide-2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("..//img/chicken-satay.jpg") center/cover no-repeat; }
  .carousel .slide-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/crispy-pork.jpg") center/cover no-repeat; }
  .carousel .slide-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/fried-rice.jpg") center/cover no-repeat; }
  .carousel .slide-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/green-curry.jpg") center/cover no-repeat; }
  .carousel .slide-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/somtam.jpg") center/cover no-repeat; }
  .carousel .slide-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/mango-sticky-rice.jpg") center/cover no-repeat; }
    .carousel .slide-7 .heading-7 {
      font-size: 2rem; }
    .carousel .slide-7 .sub-menu {
      margin-top: .25rem; }
  .carousel #nav_slide {
    width: 100%;
    bottom: 12.5%;
    height: 1rem;
    position: absolute;
    text-align: center;
    z-index: 50; }
    .carousel #nav_slide .dots {
      width: 2rem;
      height: 2rem;
      margin: 0 .3rem;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      transition: .4s;
      cursor: pointer; }
      @media only screen and (min-width: 48em) {
        .carousel #nav_slide .dots {
          width: 1rem;
          height: 1rem; } }
    .carousel #nav_slide #dot1:hover {
      background: #205b20; }
    .carousel #nav_slide #dot2:hover {
      background: #205b20; }
    .carousel #nav_slide #dot3:hover {
      background: #205b20; }
    .carousel #nav_slide #dot4:hover {
      background: #205b20; }
    .carousel #nav_slide #dot5:hover {
      background: #205b20; }
    .carousel #nav_slide #dot6:hover {
      background: #205b20; }
    .carousel #nav_slide #dot7:hover {
      background: #205b20; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven {
  z-index: 9;
  animation: scroll 1s ease-in-out; }

#i1:checked ~ #nav_slide #dot1 {
  background: #205b20; }

#i2:checked ~ #nav_slide #dot2 {
  background: #205b20; }

#i3:checked ~ #nav_slide #dot3 {
  background: #205b20; }

#i4:checked ~ #nav_slide #dot4 {
  background: #205b20; }

#i5:checked ~ #nav_slide #dot5 {
  background: #205b20; }

#i6:checked ~ #nav_slide #dot6 {
  background: #205b20; }

#i7:checked ~ #nav_slide #dot7 {
  background: #205b20; }

@keyframes scroll {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.form {
  display: flex;
  flex-direction: column;
  padding: 6rem 0 1rem 0;
  margin: -20rem auto 1rem;
  max-width: 80rem;
  background: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  text-align: left; }
  .form .opening-hours__text {
    font-size: 2rem; }
  .form-area {
    padding: 0 5rem;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem; }
    @media only screen and (min-width: 48em) {
      .form-area {
        padding: 0 13rem; } }
    @media only screen and (min-width: 48em) {
      .form-area {
        padding: 0 13rem; } }
  .form input,
  .form select,
  .form textarea {
    border: none;
    background: #eee; }
  .form__info-booking {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-bottom: 2rem; }
    .form__info-booking .date,
    .form__info-booking .time,
    .form__info-booking .guests-number {
      display: flex;
      flex-flow: column wrap; }
      @media only screen and (min-width: 62em) {
        .form__info-booking .date label,
        .form__info-booking .time label,
        .form__info-booking .guests-number label {
          font-size: 2rem; } }
      .form__info-booking .date input[name="date"],
      .form__info-booking .date input[name="time"],
      .form__info-booking .date input[name="guests-number"],
      .form__info-booking .time input[name="date"],
      .form__info-booking .time input[name="time"],
      .form__info-booking .time input[name="guests-number"],
      .form__info-booking .guests-number input[name="date"],
      .form__info-booking .guests-number input[name="time"],
      .form__info-booking .guests-number input[name="guests-number"] {
        width: 100%;
        height: 3rem;
        padding: .5rem;
        outline: none; }
        @media only screen and (min-width: 62em) {
          .form__info-booking .date input[name="date"],
          .form__info-booking .date input[name="time"],
          .form__info-booking .date input[name="guests-number"],
          .form__info-booking .time input[name="date"],
          .form__info-booking .time input[name="time"],
          .form__info-booking .time input[name="guests-number"],
          .form__info-booking .guests-number input[name="date"],
          .form__info-booking .guests-number input[name="time"],
          .form__info-booking .guests-number input[name="guests-number"] {
            text-align: center; } }
    @media only screen and (min-width: 62em) {
      .form__info-booking {
        flex-flow: row;
        justify-content: space-between; }
        .form__info-booking .date,
        .form__info-booking .time {
          flex: 1;
          margin-right: 1rem; } }
  .form__info-customer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto; }
    @media only screen and (min-width: 62em) {
      .form__info-customer .name label,
      .form__info-customer .family-name label,
      .form__info-customer .phone label,
      .form__info-customer .email label {
        font-size: 2rem; } }
    .form__info-customer .name input[name="email"],
    .form__info-customer .name input[name="name"],
    .form__info-customer .name input[name="family-name"],
    .form__info-customer .name input[name="phone"],
    .form__info-customer .family-name input[name="email"],
    .form__info-customer .family-name input[name="name"],
    .form__info-customer .family-name input[name="family-name"],
    .form__info-customer .family-name input[name="phone"],
    .form__info-customer .phone input[name="email"],
    .form__info-customer .phone input[name="name"],
    .form__info-customer .phone input[name="family-name"],
    .form__info-customer .phone input[name="phone"],
    .form__info-customer .email input[name="email"],
    .form__info-customer .email input[name="name"],
    .form__info-customer .email input[name="family-name"],
    .form__info-customer .email input[name="phone"] {
      height: 3rem;
      padding: .5rem;
      width: 100%; }
      .form__info-customer .name input[name="email"]:focus,
      .form__info-customer .name input[name="name"]:focus,
      .form__info-customer .name input[name="family-name"]:focus,
      .form__info-customer .name input[name="phone"]:focus,
      .form__info-customer .family-name input[name="email"]:focus,
      .form__info-customer .family-name input[name="name"]:focus,
      .form__info-customer .family-name input[name="family-name"]:focus,
      .form__info-customer .family-name input[name="phone"]:focus,
      .form__info-customer .phone input[name="email"]:focus,
      .form__info-customer .phone input[name="name"]:focus,
      .form__info-customer .phone input[name="family-name"]:focus,
      .form__info-customer .phone input[name="phone"]:focus,
      .form__info-customer .email input[name="email"]:focus,
      .form__info-customer .email input[name="name"]:focus,
      .form__info-customer .email input[name="family-name"]:focus,
      .form__info-customer .email input[name="phone"]:focus {
        outline: none; }
    @media only screen and (min-width: 62em) {
      .form__info-customer .name,
      .form__info-customer .family-name,
      .form__info-customer .phone,
      .form__info-customer .email {
        flex: 50%; } }
    @media only screen and (min-width: 62em) {
      .form__info-customer .name,
      .form__info-customer .email {
        padding-right: 1rem; } }
    @media only screen and (min-width: 62em) {
      .form__info-customer {
        flex-flow: row wrap; } }
  .form .comment {
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .form .comment label {
        font-size: 2rem; } }
    .form .comment__textarea {
      border: none;
      background: #eee;
      width: 100%;
      padding: .5rem;
      height: 6rem;
      resize: none; }
      .form .comment__textarea:focus {
        outline: none; }
  .form .required-fields {
    flex: 1;
    width: 100%;
    align-self: flex-start; }
    @media only screen and (min-width: 62em) {
      .form .required-fields {
        flex: 1 1 100%; } }
  .form__btn-box {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 0;
    background: transparent; }
    @media only screen and (min-width: 62em) {
      .form__btn-box {
        flex-flow: row;
        flex: 1;
        justify-content: center; } }
  .form__btn {
    background: #47c747;
    color: #f7f7f7;
    padding: .5rem 3rem;
    border: none;
    margin: 1rem 2rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer; }
    .form__btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .form__btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    @media only screen and (min-width: 62em) {
      .form__btn {
        padding: .5rem 10rem; } }

.menu {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 5rem 0 9rem;
  font-size: 1.6rem;
  align-self: flex-end;
  display: flex;
  background: transparent; }

.footer {
  background-color: #fff;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: #333;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  @media only screen and (min-width: 48em) {
    .footer {
      flex-flow: row wrap;
      justify-content: center;
      padding: 0rem 6rem; } }
  @media only screen and (min-width: 62em) {
    .footer {
      padding: 0 7rem; } }
  @media only screen and (min-width: 48em) {
    .footer__box {
      display: flex;
      flex: 1;
      flex-flow: row;
      justify-content: space-between; } }
  .footer__logo {
    padding-top: 1rem;
    font-size: 2rem;
    flex: 1; }
    @media only screen and (min-width: 48em) {
      .footer__logo {
        flex: 1 1 100%; } }
  .footer__info {
    margin-top: 2rem;
    font-size: 2rem; }
    .footer__info--contact {
      font-size: 1.5rem;
      display: flex;
      flex-flow: column; }
      .footer__info--contact .contact__link {
        text-decoration: none;
        color: #333; }
    @media only screen and (min-width: 48em) {
      .footer__info {
        align-self: flex-start;
        margin-top: 0; } }
  .footer__copyright {
    text-align: center;
    margin: 2rem auto; }
    @media only screen and (min-width: 48em) {
      .footer__copyright {
        display: block;
        width: 100%;
        margin-bottom: 2rem; } }
  .footer__social-icons {
    display: flex;
    margin-top: 2rem; }
    @media only screen and (min-width: 48em) {
      .footer__social-icons--box {
        display: flex;
        justify-content: space-around; } }
    .footer__social-icons a {
      padding: 0 1.5rem;
      text-decoration: none;
      color: #c9c9c9;
      font-size: 2rem;
      cursor: pointer; }
      .footer__social-icons a::before {
        font-family: 'Font Awesome 5 Brands'; }
      .footer__social-icons a[href*="facebook"]::before {
        content: '\f09a'; }
      .footer__social-icons a[href*="twitter"]::before {
        content: '\f081'; }
      .footer__social-icons a[href*="instagram"]::before {
        content: '\f16d'; }
      .footer__social-icons a span {
        display: none; }
      @media only screen and (min-width: 48em) {
        .footer__social-icons a {
          padding: 0 0 0 5rem; } }
      @media only screen and (min-width: 62em) {
        .footer__social-icons a {
          padding: 0 0 0 7rem; } }

.wrapper {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-areas: "header" "navbar"  "main" "footer"; }

.navbar {
  grid-area: navbar; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

@media only screen and (min-width: 48em) {
  .wrapper {
    grid-template-areas: "header header header" "navbar navbar navbar" "main main main" "footer footer footer"; } }

@media only screen and (min-width: 62em) {
  .wrapper {
    grid-template-areas: "header header header header header header" "navbar navbar navbar navbar navbar navbar" "main main main main main main" "footer footer footer footer footer footer"; } }

.header {
  min-height: 80vh;
  max-width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), white), url("../img/miang-shrimp_lg.jpg") top center/cover no-repeat fixed; }
  @media only screen and (min-width: 62em) {
    .header {
      min-height: 87vh;
      justify-content: center; } }
  .header__btn-box {
    margin-top: 4rem; }
    @media only screen and (min-width: 30em) {
      .header__btn-box {
        margin-top: 2rem; } }
    @media only screen and (min-width: 62em) {
      .header__btn-box {
        margin-top: 3rem;
        align-self: flex-start; } }
  .header__btns {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    @media only screen and (min-width: 62em) {
      .header__btns {
        flex-flow: row;
        align-items: flex-start; } }
  .header__welcome {
    width: 100%;
    border: none; }
    @media only screen and (min-width: 48em) {
      .header__welcome {
        width: 60%;
        padding: 3rem 0;
        border-radius: 1.5rem; } }
    @media only screen and (min-width: 62em) {
      .header__welcome {
        width: 70%; } }
  .header__heading {
    text-align: center; }
  .header__logo {
    color: #47c747;
    transition: text-shadow .5s ease-in;
    cursor: pointer; }
    .header__logo:hover {
      text-shadow: 1px 0px 20px yellow; }

.navbar {
  background: #fff;
  color: #999;
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 100vw;
  border-top: none; }
  @media only screen and (min-width: 62em) {
    .navbar {
      display: flex; } }
  .navbar__banner {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    width: 100%; }
    @media only screen and (min-width: 30em) {
      .navbar__banner {
        padding: 0 5rem; } }
    @media only screen and (min-width: 62em) {
      .navbar__banner {
        padding: 0;
        flex-flow: row;
        flex: 1; } }
  .navbar__logo {
    font-size: 2rem;
    flex: 1; }
    @media only screen and (min-width: 48em) {
      .navbar__logo {
        font-size: 3rem; } }
    @media only screen and (min-width: 62em) {
      .navbar__logo {
        flex: 1;
        padding: .5rem 7rem; } }
    @media only screen and (min-width: 75em) {
      .navbar__logo {
        padding-left: 5rem; } }
    @media only screen and (min-width: 112.5em) {
      .navbar__logo {
        padding-left: 6rem; } }
  .navbar__menu {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center; }
    @media only screen and (min-width: 62em) {
      .navbar__menu {
        flex: 1; } }
  .navbar__menu-box {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1;
    padding: 1rem 0 2rem;
    transition: left 1s ease-in-out; }
    @media only screen and (min-width: 62em) {
      .navbar__menu-box {
        flex: auto;
        justify-content: space-around;
        align-items: center;
        padding: 0rem; } }
    .navbar__menu-box--btn {
      text-decoration: none;
      color: #777;
      font-size: 1.5rem; }
      @media only screen and (min-width: 48em) {
        .navbar__menu-box--btn {
          padding: 0 1rem; } }
      .navbar__menu-box--btn:hover, .navbar__menu-box--btn:active {
        color: #b51515; }
      @media only screen and (min-width: 75em) {
        .navbar__menu-box--btn {
          padding: 0 2rem; } }
      @media only screen and (min-width: 112.5em) {
        .navbar__menu-box--btn {
          padding: 0 3rem; } }

.section__menu {
  background: #fff;
  max-width: 100vw;
  overflow: hidden;
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__book-now {
  background-color: #f7f7f7;
  padding: 0rem 0 15rem 0;
  max-width: 100vw; }
  .section__book-now .bar-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/patthai-wrapped-lg.jpg"); }

.section__about-us {
  background: #f7f7f7;
  max-width: 100vw;
  padding: 10rem 0 10rem; }
