.about {
    padding-bottom: 10rem;
    width: 80%;
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        // align-content: space-around;
        width: 100%;
        @include respond(screen-l) {
            flex-flow: row;
        }
    }
    &__item {
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column wrap;
        // flex: 0 0 calc(33.3333% - 1rem);
        transition: box-shadow .3s ease-in-out;
        border: .1rem solid $color-tertiary-dark;
        &:hover {
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
        @include respond(screen-l) {
            flex: 0 0 calc(33.3333% - 1rem);
        }
    }
    &__info {
        display: flex;
        flex-flow: column wrap;
        padding: 5rem 2rem 3rem;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        .info {
            &__icon {
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }
            &__text {
                font-size: $default-font-size;
                flex: 1;
            }
        }
    }
}