.service {
    width: 80%;
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;
        @include respond(screen-l) {
            flex-flow: row wrap;
            justify-content: center;
        }
    }
    &__item {
        margin-bottom: 2rem;
        padding-bottom: -2rem;
        background: $color-white;
        display: flex;
        flex-flow: column wrap;
        transition: box-shadow .3s ease-in-out;
        position: relative;
        &:hover {
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
        @include respond(screen-l) {
            flex: 0 0 calc(33.3333% - 1rem);
        }
        &:not(:last-child){
            margin-right: 1rem;
        }
        @include respond(screen-xxl) {
            flex: 0 0 calc(20% - 1rem);
        }
    }
    .item {
        &-1{
            background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url('../img/package1.jpeg')center/cover; 
        }
        &-2{
            background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url('../img/package2.jpeg')center/cover; 
        }
        &-3{
            background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url('../img/package3.jpeg')center/cover; 
       }
        &-4{
            background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url('../img/package4.jpeg')center/cover; 
       }
        &-5{
            background:linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url('../img/package5.jpeg')center/cover; 
       }

        &__header {
            text-align: center;
            padding: 3rem 0 2rem;
        }

        &__heading{
            color: $color-grey-light-1;
        }
        &__body{
            list-style: none;
            padding: 0 2rem 0rem;
            margin-top: 1rem;
            flex: 1;
            text-align: center;
            font-size: 1.2rem;
            &-text{
                border-bottom: .1rem solid $color-grey-light-2;
            }
        }
        &__footer{
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            background: $color-primary;
            margin-top: 2rem;
            font-size: $default-font-size;
            color: $color-grey-light-1;
            cursor: pointer;
        }

        &__cta{
            text-decoration: none;

            &:active,&:visited{
                color: $color-grey-light-2;
            }
        }

        &__price {
            font-size: 3rem;
            color: $color-grey-light-1;
        }


    }
   
}