.service {
    padding-bottom: 10rem;
    width: 80%;
    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        width: 100%;
    }
    &__item {
        margin-bottom: 2rem;
        background: $color-white;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        display: flex;
        flex-flow: column;
        
        @include respond(screen-m) {
            flex: 0 0 calc(50% - 1rem);
        }
        @include respond(screen-l) {
            flex: 0 0 calc(33.3333% - 1rem);
        }
    }
    &__img {
        width: 100%;
    }
    &__info {
        display: flex;
        flex-flow: column;
        padding: 1rem 1.75rem 1rem;
        flex: 1;

        &--sub {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        &-text{
            font-size: $default-font-size;
            flex: 1;
        }

    }
   
    &__price {
        font-size: 1.4rem;
        color: $color-secondary-dark;

        @include respond(screen-l){
            font-size: 1.15rem;
        }
    }
    &__cta {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}