.header {
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    background: linear-gradient(rgba($color-primary-light, .7), rgba($color-primary-dark, 1)), url('../img/header_bg.jpeg')top center/cover no-repeat fixed; // @media only screen and (max-width: 37.5em) {
    //     //600px/16 = 37.5em
    //     background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/resources/img/Love-Coding_bg.png')top left/cover fixed no-repeat;
    // }
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        @include respond(screen-l) {
            justify-content: center;
        }
    }
  
    &__welcome {
        border: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        @include respond(screen-m) {
            width: 60%;
            padding: 0rem 0;
            border-radius: 1.5rem;
        }
        @include respond(screen-l) {
            width: 70%;
        }
    }
    &__heading {
        text-align: center;
        @include respond(screen-l) {
            text-align: left;
        }
    }
    &__logo {
        font-size: 1rem;
        top: 3rem;
        left: 3rem;
        max-width: 100vw;
        position: absolute;
        display: inline-block; // transition: text-shadow .5s ease-in;
        @include respond(screen-s) {
            font-size: 1.5rem;
            padding-bottom: 1rem;
            left: 3.5rem;
        }
        @include respond(screen-m) {
            font-size: 2rem;
        }
        @include respond(screen-l) {
            font-size: 1.5rem;
        }
    }

    &__cta {
        margin-top: 2rem;
        @include respond(screen-l) {
            width: 70%;
        }
        &-wrapper {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            @include respond(screen-l) {
                flex-flow: row;
            }
        }
    }
   
}