/*
    320px - 479px:      Screen Extra Extra Small   screen-xs       <= Design Default
    480px - 639px:      Screen Extra Small         screen-s  
    768px - 991px:      Screen Medium              screen-m        <= Standard
    992px - 1199px:     Screen Large               screen-l
    1200px - 1799px:    Screen Extra Large         screen-xl
    1800px +:           Screen Extra Extra Large   screen-xxl      <= Special

1em = 16px;

ORDER:

1. Base & Typography
2. General Layout & Grid
3. Page Layout
4. Components

*/
@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #333; }
  100% {
    border-color: transparent; } }

@keyframes type {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*///Based Font Size/Browser Default Font Size: 10px/16px = 0.625 // 10px: size we want for 1rem, 16px: default size = % of default size   /*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden; }
  @media only screen and (min-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }

::selection {
  background-color: #7b2bb8;
  color: #fff; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #999; }

.brand-logo {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #7b2bb8;
  line-height: 5.5rem;
  text-decoration: none;
  cursor: pointer; }

.heading-primary {
  font-size: .5rem; }
  .heading-primary--main {
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.4;
    font-weight: 600;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 30em) {
      .heading-primary--main {
        font-size: 3.7rem; } }
    @media only screen and (min-width: 48em) {
      .heading-primary--main {
        font-size: 4rem; } }
    @media only screen and (min-width: 112.5em) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (min-width: 48em) {
      .heading-primary--sub {
        letter-spacing: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: #999;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (min-width: 30em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (min-width: 48em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center; }
  .section-title i {
    font-size: 5rem; }

.section-bar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/img/patthai-wrapped-lg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 90%;
  max-width: 100vw;
  height: 40rem;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-bar__title {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3rem; }
    .section-bar__title i {
      text-align: center;
      font-size: 5rem; }

.underline {
  width: 7rem;
  height: .1rem;
  background: #7b2bb8;
  margin-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 62em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 62em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.logo-shadow {
  text-shadow: 0.5rem 0.5rem 2rem #000; }

.page-shadow {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media only screen and (min-width: 30em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }
  @media only screen and (min-width: 62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.5rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark {
  text-decoration: none;
  padding: .3rem 3rem;
  margin: .5rem;
  background-color: #8c3169;
  color: #fff; }
  @media only screen and (min-width: 30em) {
    .btn--dark {
      padding: .5rem 5rem; } }
  @media only screen and (min-width: 48em) {
    .btn--dark {
      padding: .5rem 8rem; } }
  @media only screen and (min-width: 62em) {
    .btn--dark {
      padding: .5rem 4rem; } }

.btn--light {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #4c0f7b;
  color: #fff; }
  @media only screen and (min-width: 30em) {
    .btn--light {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--light {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--light {
      padding: .5rem 7rem; } }
  .btn--light::after {
    background-color: #7b2bb8; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7b2bb8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7b2bb8;
  padding: 3px;
  transition: all .2; }

.btn-text:hover {
  background-color: #7b2bb8;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.contact__map {
  margin-top: 20rem;
  width: 100%; }

.customer {
  width: 100%;
  padding: 5rem 0 9rem;
  font-size: 1.6rem;
  display: flex;
  color: #c9c9c9; }
  .customer__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  @media only screen and (min-width: 62em) {
    .customer__item {
      flex: 0 0 calc(33.3333% - 1rem); } }
  .customer__text {
    padding: 1rem 2rem 1rem; }
  .customer__info {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 2rem; }
  .customer__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .customer__detail {
    margin-left: 1rem; }

.form {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem 1rem;
  margin: 10rem auto 1rem;
  max-width: 80rem;
  background: transparent;
  text-align: left;
  font-size: 1.6rem; }
  .form__sender {
    display: flex;
    flex-flow: column; }
    @media only screen and (min-width: 48em) {
      .form__sender {
        flex-flow: row;
        margin-bottom: 2rem;
        justify-content: space-between; } }
  .form .sender__name, .form .sender__family-name {
    display: flex;
    flex-flow: column;
    flex: 1; }
    @media only screen and (min-width: 48em) {
      .form .sender__name, .form .sender__family-name {
        flex: 0 0 calc(50% - 1rem); } }
  .form__message {
    display: flex;
    flex-flow: column; }
  .form__input, .form__textarea {
    border: none;
    border-bottom: 0.1rem solid #8c3169;
    outline: none;
    padding: .5rem;
    margin-bottom: 1rem;
    background: transparent; }
  .form__textarea {
    resize: none; }
  .form__cta {
    display: flex;
    flex-flow: row;
    justify-content: center; }
  .form .required-fields {
    font-size: 1.5rem; }
  .form__btn {
    align-self: center; }

.service {
  padding-bottom: 10rem;
  width: 80%; }
  .service__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%; }
  .service__item {
    margin-bottom: 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column; }
    @media only screen and (min-width: 48em) {
      .service__item {
        flex: 0 0 calc(50% - 1rem); } }
    @media only screen and (min-width: 62em) {
      .service__item {
        flex: 0 0 calc(33.3333% - 1rem); } }
  .service__img {
    width: 100%; }
  .service__info {
    display: flex;
    flex-flow: column;
    padding: 1rem 1.75rem 1rem;
    flex: 1; }
    .service__info--sub {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 1rem; }
    .service__info-text {
      font-size: 1.6rem;
      flex: 1; }
  .service__price {
    font-size: 1.4rem;
    color: #8c3169; }
    @media only screen and (min-width: 62em) {
      .service__price {
        font-size: 1.15rem; } }
  .service__cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }

.footer {
  background: #fff;
  padding: 5rem 2rem 0;
  font-size: 1.4rem;
  color: #333;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 48em) {
    .footer {
      padding: 5rem 10rem 0; } }
  @media only screen and (min-width: 48em) {
    .footer__wrapper {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-between; } }
  .footer__item {
    border: 0.1rem solid #8c3169;
    flex: 0 0 calc(33.3333% - 2rem);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    padding: 2rem 5rem;
    margin: 4rem 0;
    position: relative; }
    @media only screen and (min-width: 30em) {
      .footer__item {
        padding: 2rem 8rem; } }
    @media only screen and (min-width: 48em) {
      .footer__item {
        padding: 2rem 4rem;
        margin: 0; } }
    @media only screen and (min-width: 62em) {
      .footer__item {
        padding: 2rem 0; } }
    .footer__item .item__figure {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      background: #8c3169;
      position: absolute;
      top: -2rem; }
      .footer__item .item__figure .figure-icon {
        font-size: 1.5rem;
        color: #c9c9c9; }
    .footer__item .item__address {
      margin-top: 1.5rem; }
    .footer__item .item__phone, .footer__item .item__email {
      margin-top: 2rem; }
      @media only screen and (min-width: 48em) {
        .footer__item .item__phone, .footer__item .item__email {
          margin-top: 1rem; } }
  .footer__copyright {
    width: 100%;
    text-align: center;
    margin: 2rem auto 1rem; }

.wrapper {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-areas: "navbar header header" "navbar main main"  "navbar main main" "navbar footer footer"; }

nav {
  grid-area: navbar; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

@media only screen and (min-width: 48em) {
  .wrapper {
    grid-template-areas: "navbar header header header" "navbar main main main"  "navbar main main main" "navbar footer footer footer"; } }

@media only screen and (min-width: 62em) {
  .wrapper {
    grid-template-areas: "navbar header header header header header header header header header" "navbar main main main main main main main main main"  "navbar main main main main main main main main main" "navbar footer footer footer footer footer footer footer footer footer"; } }

.header, .main-content, .footer {
  margin-left: 8rem; }

.header {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header_bg-img_compressed.jpg") top center/cover no-repeat fixed; }
  @media only screen and (min-width: 62em) {
    .header {
      justify-content: center; } }
  .header__btn-box {
    margin-top: 4rem; }
    @media only screen and (min-width: 30em) {
      .header__btn-box {
        margin-top: 2rem; } }
    @media only screen and (min-width: 62em) {
      .header__btn-box {
        margin-top: 3rem;
        align-self: flex-start; } }
  .header__btns {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    @media only screen and (min-width: 62em) {
      .header__btns {
        flex-flow: row;
        align-items: flex-start; } }
  .header__welcome {
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    @media only screen and (min-width: 48em) {
      .header__welcome {
        width: 60%;
        padding: 0rem 0;
        border-radius: 1.5rem; } }
    @media only screen and (min-width: 62em) {
      .header__welcome {
        width: 70%; } }
  .header__heading {
    text-align: center; }
  .header__logo {
    color: #9748d3;
    cursor: pointer;
    font-size: 2rem;
    transition: text-shadow .5s ease-in; }
    @media only screen and (min-width: 30em) {
      .header__logo {
        font-size: 2.5rem;
        padding-bottom: 1rem; } }
    @media only screen and (min-width: 48em) {
      .header__logo {
        font-size: 3rem; } }
  .header .chevron {
    font-size: 3rem;
    color: #7b2bb8;
    margin-top: 4rem; }
    @media only screen and (min-width: 48em) {
      .header .chevron {
        font-size: 4rem; } }

.navbar {
  /*burger menu icon*/
  /*Burger Menu Icon ends*/
  /* sidebar ends */
  /* navigation */
  /* navigation ends*/ }
  .navbar-panel {
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center; }
  .navbar .menu-icon {
    margin-top: 3rem;
    cursor: pointer; }
    .navbar .menu-icon .line {
      height: .2rem;
      width: 2.5rem;
      background-color: #333;
      margin-bottom: .6rem; }
      .navbar .menu-icon .line-1, .navbar .menu-icon .line-3 {
        transition: all .4s; }
  .navbar .social-icon__list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center; }
  .navbar .social-icon__link {
    font-size: 2rem;
    color: #777;
    transition: color .3s; }
    .navbar .social-icon__link:hover {
      color: #9748d3; }
  .navbar .year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #777; }
  .navbar .nav-menu {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100vh;
    background: linear-gradient(to top, #4c0f7b, rgba(76, 15, 123, 0.8));
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
    .navbar .nav-menu__header {
      padding-top: 7rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
    .navbar .nav-menu__heading {
      align-self: center;
      font-size: 3.5rem;
      font-weight: 300;
      letter-spacing: .2rem;
      color: #9748d3;
      text-align: center; }
    .navbar .nav-menu__list {
      list-style: none;
      padding: 0;
      height: 28rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center; }
    .navbar .nav-menu__item {
      position: relative; }
    .navbar .nav-menu__link {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: color .5s; }
      .navbar .nav-menu__link::before {
        content: '';
        width: 0rem;
        height: .1rem;
        background-color: #e48ac1;
        position: absolute;
        top: 1rem;
        left: -4rem;
        transition: width 0.5s cubic-bezier(1, 0, 0, 1); }
      .navbar .nav-menu__link::after {
        content: '';
        width: 0rem;
        height: 0.1rem;
        background-color: #e48ac1;
        position: absolute;
        top: 1rem;
        right: -4rem;
        transition: width 0.5s cubic-bezier(1, 0, 0, 1); }
      .navbar .nav-menu__link:hover {
        color: #e48ac1; }
        .navbar .nav-menu__link:hover::before, .navbar .nav-menu__link:hover::after {
          width: 3rem; }
  .navbar .copyright {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem; }
  .navbar .checkbox:checked ~ .nav-menu {
    left: 8rem; }
  .navbar .checkbox:checked ~ .navbar-panel .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem; }
    @media only screen and (min-width: 30em) {
      .navbar .checkbox:checked ~ .navbar-panel .line-1 {
        transform: rotate(-405deg) translate(-3px, 6px);
        width: 3rem; } }
    @media only screen and (min-width: 48em) {
      .navbar .checkbox:checked ~ .navbar-panel .line-1 {
        transform: rotate(-405deg) translate(-3px, 6px);
        width: 3rem; } }
    @media only screen and (min-width: 62em) {
      .navbar .checkbox:checked ~ .navbar-panel .line-1 {
        transform: rotate(-405deg) translate(-6px, 6px); } }
  .navbar .checkbox:checked ~ .navbar-panel .line-2 {
    opacity: 0; }
  .navbar .checkbox:checked ~ .navbar-panel .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem; }
    @media only screen and (min-width: 30em) {
      .navbar .checkbox:checked ~ .navbar-panel .line-3 {
        transform: rotate(405deg) translate(-4px, -5px); } }
    @media only screen and (min-width: 48em) {
      .navbar .checkbox:checked ~ .navbar-panel .line-3 {
        transform: rotate(405deg) translate(-3px, -6px);
        width: 3rem; } }
    @media only screen and (min-width: 62em) {
      .navbar .checkbox:checked ~ .navbar-panel .line-3 {
        transform: rotate(405deg) translate(-8px, -7px); } }

.section__service {
  background: #f7f7f7;
  max-width: 100vw;
  overflow: hidden;
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__customer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-img_lg.jpg") top center/cover no-repeat fixed;
  padding: 10rem 5rem 15rem;
  max-width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center; }

.section__contact {
  background: #f7f7f7;
  max-width: 100vw;
  padding: 10rem 0 10rem; }
