.section__about{
    background: $color-grey-light-1;
    max-width: 100vw;
    padding: 18rem 0 5rem;
    margin-top: -13rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__features {
    background: linear-gradient(rgba($color-grey-dark-2, .7), rgba($color-grey-dark-3, 1));
    color: $color-grey-light-1;
    max-width: 100vw;
    min-height: 100vh;
    padding: 10rem 0 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__service {
    background: $color-grey-light-1;
    max-width: 100vw;
    overflow: hidden;
    padding: 10rem 0 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section__contact{
    background: linear-gradient(rgba($color-primary-light, .7), rgba($color-primary-dark, 1)), url('../img/contact.jpg')center /cover no-repeat fixed;
    // background: linear-gradient(rgba($color-primary-light, .7), rgba($color-primary-dark, 1));
}
