//COLOURS
$color-primary:#ff9702;
$color-primary-light: #FFC97E;
$color-primary-dark: #B76B00;

$color-secondary: #B90190;
$color-secondary-light: #BC5DA7;
$color-secondary-dark: #850068;

$color-tertiary: #D2F702;
$color-tertiary-light: #E5F87A;
$color-tertiary-dark: #96B100;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #c9c9c9;
$color-grey-light-4: #a7a7a7;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #181818;

$color-white: #fff;
$color-black: #000;

//FONT 
$default-font-size: 1.6rem;
